[2017-02-06 19:24] Clayton7510 opened #1 "Finish Unit Tests"
Unit Tests for StandardRule need to be completed

[2017-02-08 12:42] #1 closed

[2017-02-10 06:38] Clayton7510 opened #2 "Clean Up The CheckStyle Warnings"
There are some formatting things that should be cleaned up before the first official release.

[2017-02-12 20:20] #2 closed

[2017-02-12 23:14] Clayton7510 opened #3 "Add Support for Defining Rules Without Lambda and the DSL"
Rules and Decisions can be very nicely wired up with lambda. But [eventually] there should be support for wiring rules up without lambda and without the DSL (even though, this is very cool :).

What if given(), when() and then() methods could take in Facts, Predicates and Functions, respectively, but also be defined in a Rule class (by the developer)? That might be pretty cool. So, it could be an

[2017-02-12 23:17] Clayton7510 opened #4 "Springify RuleBook"
RuleBook can already be used easily with Spring. But there are a few things the developer has to be aware of: the Rules, Decisions and Books must be prototypes because they persist state which may be interrupted and changed if they were singletons.

There might be some other useful stuff that can be streamlined for Spring support, too.

[2017-02-13 00:34] Clayton7510 commented on #3
I think the basic approach will be defining classes that define given, when and then methods. Each of those methods will be injected into a Rule (e.g. default to StandardRule) as the definition of the functional interfaces which can be passed into the when() and then() methods. The given() method will convert the state defined into Facts. Anyway, that's the thought right now.

[2017-02-21 01:29] #3 closed

[2017-02-21 14:34] Clayton7510 opened #6 "Verify execution order with POJO rules"
Execution order was included in POJO rules, but it was not verified. It should be verified to ensure that facts and/or results are used & modified in the order specified.

[2017-02-21 19:39] #6 closed

[2017-02-21 19:47] Clayton7510 commented on #4
This should be in a separate artifact (i.e. rulebook-spring) in this GitHub repo.

[2017-02-21 19:51] Clayton7510 opened #9 "Externalized Rules"
I'm thinking that it would be cool to be able to have rules stored outside of the application (and the JVM) and have RuleBook be able to point to those rules and use them.

Supported languages and format is currently TBD. Maybe Groovy?

[2017-02-23 10:49] NicolasLambert opened #12 "Improvment on usages of Optional, Stream and lambdas"
Hi Clayton,

Usage of Java8 features (especially Optional) can be improved.
I suggest you to put an eye on this article :
https://dzone.com/articles/optional-ispresent-is-bad-for-you

Also you should consider returning Optional in your API when the attribute can be null (like next rule).

Again, great work !

[2017-02-23 11:58] Clayton7510 commented on #12
Thanks for the suggestion, Nicolas. You're right! Some of the usage of those features can be cleaned up.

[2017-02-23 12:01] NicolasLambert commented on #12
And here is my corresponding PR to fix it : #11
I hope that I followed all your contribution rules.

[2017-02-23 12:04] Clayton7510 commented on #12
Thanks, Nicholas. I'll check it out.

[2017-02-23 12:48] #12 closed

[2017-02-23 20:44] ksmithorn97 commented on #9
Your format seems to fairly well match [Gherkin](https://cucumber.io/docs/reference).  You could use the gherkin parser to auto generate the structure of the code and then fill in the programmatic details from there. This seems to be fairly common in the cucumber world.

[2017-02-24 12:59] Clayton7510 commented on #9
@ksmithorn97, that's not a bad idea. The inspiration for the existing Camel-style chained method DSL was Cucumber and Spock. I also like how Gherkin is intended to be just text (as opposed to Java, which is compiled into byte-code).

[2017-02-24 17:49] Clayton7510 opened #14 "POJO Rules don't support injection of multiple facts based on the type"
The MegaBank example won't work correctly with POJOs since POJOs cannot currently be injected with a grouping of objects stored in different facts. Right now, it only injects based on the name. However, in the MegaBank example, the name might not be known ahead of time, nor would the number of Facts.

This should probably be fixed before the next minor release.

[2017-02-24 19:26] Clayton7510 commented on #4
Current state of development is in Issue4_Springify.

[2017-02-24 22:12] #14 closed

[2017-02-26 14:19] Clayton7510 opened #17 "Injection of array with Facts into POJO rules throws exception when not String"
Arrays in POJO rules can only be injected with String Facts. This is clearly a bug that should be resolved.

[2017-02-26 15:24] Clayton7510 commented on #17
Support for injection of arrays and non-List collections was removed in order to keep things simple. However, Lists were retained and will be injected in POJO rules when type-matching Facts exist.

[2017-02-26 16:21] #17 closed

[2017-02-27 17:11] Clayton7510 opened #20 "Rules Versioning"
Rules should be able to be versioned independently of the application code. When a new version of rules is published, the application should load the newly published rules and start running the new rules version in place of the old one.

A couple of things to consider:

- in-flight rules should not break during a rules version update
- version updates should have various modes of scheduling (it co

[2017-02-27 17:33] Clayton7510 commented on #20
Starting off, rules can be maintained in Maven as stated above. However, that doesn't really provide a nice mechanism for storing human readable rules, which are addressed in a separate issue. But for this issue, it will do.

[2017-03-02 14:46] wheezymustafa opened #21 "DecisionBook.withDefaultResult spelled incorrectly"
currently spelled with **Deafult** Result

[2017-03-03 02:33] Clayton7510 commented on #21
Ha, so it is! Thanks!

[2017-03-03 02:39] Clayton7510 commented on #21
Corrected in develop branch.

[2017-03-03 02:42] #4 closed

[2017-03-03 02:42] #21 closed

[2017-03-06 01:29] Clayton7510 commented on #9
Looking into Gherkin, it gives me a few things that I really like.

1.  A nice, well established BSDSL
2. I can leverage an existing library
3. The code is text, so storing and using it as text is not only possible, but expected
4. Gherkin has support in popular IDEs

But then there are a few things I don't like

1. Gherkin is very Cucumber specific and that bleeds into the language. It uses langu

[2017-03-06 21:29] Clayton7510 opened #25 "Additional Algorithms for Rules Evaluation"
Rules Engine uses CoR for sequential rules evaluation. It works! And for many situations, it's serves the need. However, for more ambitious applications, it would be nice to have other algorithms for rules evaluation available. The catch is that other algorithms should have a sequential dependency component to provide predictable execution between dependent rules. In addition, rules evaluation alg

[2017-03-07 15:31] Clayton7510 opened #26 "Multiple invocations of RuleBook.run() could define rules more than once"
Practically, this shouldn't be a huge issue since RuleBooks are likely instantiated each time they are to be used (Spring does this with prototype) and therefore run() would likely only be called once per RuleBook instance. However, if a developer wanted to create a single instantiation of a RuleBook class and re-run it then there could be an issue with rules running multiple times unintentionally

[2017-03-07 16:29] Clayton7510 commented on #25
OK, here's the thought...
The focus should be on ease of use and predictable execution over raw performance. If a radical departure in thinking is needed or a different problem focus is required then, hey, there are existing algorithms (like Rete) and tools (like Drools) available that do exactly that.

So, the idea here is not to convert RuleBook to inference engine - it's a rules abstraction tha

[2017-03-07 21:18] wheezymustafa commented on #26
This is my current use case.  I am generating singleton RuleBookBeans at initialization and accessing them via a factory, where based on certain conditions, i retrieve one of those specific rulebooks and execute the rules against the object.

[2017-03-07 23:26] Clayton7510 commented on #26
@wheezymustafa I would recommend making RuleBookBeans prototypes instead of Singletons.
There are 2 reasons for using prototype over singleton with RuleBookBeans:
1. In the current release, declared rules are added to RuleBooks in the run() method. So, by using the same instance, every time you call the run() method, you would be adding the same rules again. (This should be fixed in Issue26 branch

[2017-03-08 04:22] Clayton7510 opened #27 "More Robust Application Examples"
I think the time has come to include complete working project examples in the GitHub source. Suggestions are welcome. Contributions are encouraged.

[2017-03-08 04:58] Clayton7510 commented on #26
This fix is now available in the 0.3.1-SNAPSHOT Release.

[2017-03-08 04:58] #26 closed

[2017-03-08 15:12] Clayton7510 commented on #25
Extending that thought: I think I want to take some of the ideas from Rete and apply them to what looks like sequential execution. That way, performance benefits will be realized, but without turning this thing into an inference engine (different type of rules engine). Like Rete, when rules are completely independent then ordering doesn't matter. But unlike Rete, the order is taken into account wh

[2017-03-08 21:45] wheezymustafa opened #30 "Passing a Collection (Map,List) as Given shows up as null in rule?"
You can tell me if I'm just not using it correctly, but --

If I pass a single POJO as Given, I retrieve the List<Object> in my rule and process it as normal, as your documentation states.  However, trying to pass a collection seems to result in the object either being swallowed up and spit out as null, or as an empty List.  I can provide an example if needed.

[2017-03-08 23:22] Clayton7510 commented on #30
I don't know if I am understanding exactly what you are trying to do. So, I will explain the approaches you can use to inject complex objects into POJO Rules. As you know if you annotate a List with a @Given annotation and no value, it will inject that list with all the Facts given to the RuleBook of the generic type of the list. But POJO Rules will only do that with Lists and only when there is a

[2017-03-09 11:53] Clayton7510 commented on #30
Errata in the Spring examples should be corrected now.

[2017-03-10 20:20] wheezymustafa commented on #30
Hello,

Your explanation did the trick - I was able to get through my road blocks.  Thanks for the information!

[2017-03-10 20:25] Clayton7510 commented on #30
You're welcome! I'm gals you got everything working out.

BTW, I am planning on having RuleBook support auto-injection into other Collection types the way it does with List. The solution just looked a little less elegant. So, it's omitted currently. But I do agree that it would be a useful feature to have.

[2017-03-10 23:18] Clayton7510 commented on #30
The more I thought about it, the more I realized that there should be support for injection into Collection interfaces. So, 0.3.2-SNAPSHOT on Sonatype now injects Map, List, Set and FactMap the same way only List was injected. It will inject any Fact value objects where their types match up to the generic type of the collection in a POJO Rule where @Given has no value.

[2017-03-12 23:10] Clayton7510 opened #33 "Have POJO Rules Subclasses Inherit From Parent POJO Rules"
Currently, a subclass doesn't inherit injection from it's parent @Given, @When or @Then declarations. Let's change that ;)

[2017-03-13 15:48] Clayton7510 commented on #33
@Given inheritance is now in the Issue33_PojoInheritedInjection branch. @When and @Then will be in there soon. At that point, it will be added to the 0.3.2-SNAPSHOT.

[2017-03-14 02:24] Clayton7510 commented on #33
@When and @Then inheritance support is in there. And the tests are checking out with good coverage. But I still think there needs to be some tests specific to the new AnnotationUtils class I added. So, this will probably be in the develop branch (aka released to SNAPSHOT) on Thursday. And baring any other issues, this stuff will be promoted to master and published in the next release on Sunday.

[2017-03-14 16:40] Clayton7510 commented on #33
This update is currently in the dev release (0.3.2-SNAPSHOT).

[2017-03-15 03:04] #30 closed

[2017-03-15 03:04] #33 closed

[2017-03-15 20:09] Clayton7510 opened #36 "Add Some More Syntactic Sugar to the DSL"
* Add a Consumer then() method option that continues by default.
* Add the ability to chain multiple then() statements.
* Add a stop() method that breaks on then()
* Add a given() method that accepts a String and an Object of some type T for adding a single Fact
  * Do this for Rules and RuleBooks

[2017-03-16 10:03] Clayton7510 commented on #36
Having an option where NEXT and BREAK don't have to be returned also allows for other (non procedural) rules chaining options. Although I think RuleBook will always have sequential chaining at its core, the focus has to be on an intuitive and flexible interface. That was the whole reason for RuleBook in the first place -> something that could be picked up and used effectively in an hour or two (at

[2017-03-17 02:09] Clayton7510 commented on #36
It looks like doing the above stuff will break the existing DSL, which I am not a huge fan of doing. But I do think it will yield a nicer to work with DSL and a more rich language.
This would not affect POJO rules, however.

[2017-03-17 21:39] Clayton7510 commented on #36
The DSL is mostly intact. All the old stuff will still work with one exception: then methods can't return anything. In lieu of having to return RuleState from a then method, the new stop method is introduced. By chaining the stop verb, it signals the rule to break the rule chain after the then action is executed, which also means the when condition must be true for the rule chain to be broken.

[2017-03-18 16:26] Clayton7510 commented on #36
Branch Issue36_SyntacticSugar contains the completed and working code. All tests are passing.
All that's left now to ensure that coverage is up to snuff given the new changes and JavaDocs are updated appropriately.

[2017-03-19 23:01] Clayton7510 commented on #36
These enhancements have been pushed out to 0.3.5-SNAPSHOT and merged into the develop branch.

[2017-03-19 23:18] Clayton7510 opened #38 "Rules Auditing"
It comes to mind that it might be useful to have an audit of rules available. Say, for example, I have a RuleBook that contains many different rules. When I run that RuleBook, some rules might fire, some rules might not. It might be nice to know which rules executed.

I'm thinking rules could be audited by name. That means, each rule should have a name. By default, it could be the classname of the

[2017-03-20 21:28] Clayton7510 opened #39 "Make it easier to use the DSL with Facts of different types in a RuleBook"
If you are using POJO Rules, this is a non-issue. But if you are using the Java DSL, then mixing types of Facts is cumbersome since generics suppose all Facts are of the same type.

This should be an easier thing to do. I'm thinking that a RuleBook can be of an unspecified type and then Rules of any type can be added. Facts of all types would be chained across Rules. But only Facts of the type of

[2017-03-21 21:23] Clayton7510 commented on #39
I think this is going in with v0.4 as part of the DSL updates. This is really done except for some needed refactoring
In terms of the refactoring, I am looking to converge the functionality between StandardDecision and StandardRule. I'm thinking StandardDecision will probably end up being a decorator for StandardRule.

[2017-03-23 00:37] Clayton7510 opened #43 "Refactor the DSL Interface"
Separate the interface (flow) from the API.

[2017-03-23 19:05] #36 closed

[2017-03-23 19:05] #39 closed

[2017-03-23 21:18] Clayton7510 commented on #43
This is going to have some consequences for the DSL. The POJO rules should be unaffected.
Those who were using the DSL following the examples and the recommendations shouldn't much if any breaking changes. However, there is a possibility that some people using the DSL outside of the normal interface pattern could find breaking changes.

The good news is that this should be the last major refactori

[2017-03-25 12:19] Clayton7510 commented on #43
Any significant breaking changes will have the existing interface deprecated so that backwards compatibility is preserved.

[2017-03-29 03:05] Clayton7510 commented on #43
There will be significant changes due to a few of things:
1. to make it super flexible for swapping in new algorithms for rules chaining
2. to separate the model (CQ) from the DSL (builder)
3. to get the RuleBook away from keeping a reference to a FactMap
4. to leave the door open for things like Immutable FactMaps (but still allowing Facts to change/be added/removed while execution was in progres

[2017-04-06 14:39] imavroukakis commented on #9
How is this coming along?

[2017-04-10 13:48] Clayton7510 opened #48 "More Sugar"
There are a couple of things in the new DSL that are a bit cumbersome. Retrieving results is one of those things. Maybe it could be cleaned up a bit.

[2017-04-10 15:52] #48 closed

[2017-04-10 15:53] #43 closed

[2017-04-10 15:53] Clayton7510 opened #49 "Spring support for the updated DSL"

[2017-04-11 13:02] Clayton7510 commented on #9
I have pushed this back this enhancement until after the refactoring + DSL updates. However, those updates should be completed this week - most of them are already done, updates for Spring support are pending. So, estimated completion of the versioning functionality is probably 2-3mo out.

[2017-04-11 13:36] Clayton7510 commented on #9
I have pushed this back this enhancement until after the refactoring + DSL updates. However, those updates should be completed this week - most of them are already done, updates for Spring support are pending. So, the Java (internal) BDSL is becoming pretty solid, which I feel needed to happen before more of an external BDSL could happen.

Another important thing that the pending release (currentl

[2017-04-12 00:23] #49 closed

[2017-04-19 03:17] Clayton7510 opened #52 "Additional Conversions in NameValueReferableConvertibleType"
A Boolean and BigDecimal conversion should also be included.

[2017-04-24 16:36] itplayer opened #53 "Thread safety?"
Is RuleBook thread safe for multithreading environment?
Should I create an instance for each thread for rule evaluation?

[2017-04-25 02:53] Clayton7510 commented on #53
If you are referring to creating an instance per RuleBook, then yes, you should have different instances per thread. If you are using Spring, then the RuleBookFactoryBean will do that for you.

[2017-04-27 10:49] Gersee opened #54 "When-condition of rule is not accessed"
Hi,

I'm trying to use RuleBook version 0.5 in my Spring-application. It seems like the _when_-part will **never** be evaluated, so I access for each rule the _then_-part.
First there comes my code, then the issue is explained with a little bit more details.

## The Code:
My Pom contains:

    <dependency>
	    <groupId>com.deliveredtechnologies</groupId>
	    <artifactId>rulebook-core</artifactId

[2017-04-27 14:53] typhoon1978 opened #55 "RuleBook first run unexpected result"
Hi,

I'm trying to integrate RuleBook in an enterprise project, because it seems to be really interesting.

I'm using version 0.5 and found that first run returns a default value because headRule is not correctly valued in _CoRRuleBook.run_ method. These are the steps I did:

1. First I created a new RuleBook extending CoRRuleBook:

[code]
2. Then I instantiate a new RuleBook:

[code]

3. Then I c

[2017-04-27 20:04] sammr2 opened #56 "When condition seems not working. A very easy question regarding with going through the example on the toturial"
Hi, I tried to do the simple Hello World example to see how the library generally work, but the result is a little bit funky.
Here is the code I wrote:
import com.deliveredtechnologies.rulebook.FactMap;
import com.deliveredtechnologies.rulebook.NameValueReferableMap;
import com.deliveredtechnologies.rulebook.Result;
import com.deliveredtechnologies.rulebook.lang.RuleBookBuilder;
import com.deliver

[2017-04-28 01:51] Clayton7510 commented on #56
I see what your issue is. By specifying FactMap as the fact type for each rule, you are telling each rule that only facts of type FactMap are to be made available to your rules. So, the first when condition evaluates to false since there are no facts of type FactMap named "hello". If you specified the factType as String then the condition on the first rule could evaluate to true.

I have modified

[2017-04-28 02:38] sammr2 commented on #56
Thats very very clear, thank you for your help and time!!!!

[2017-04-28 02:51] Clayton7510 commented on #55
You are correct. It looks like that is a bug that was probably introduced in v0.5. I just put the fix in [0.5.1-SNAPSHOT](https://github.com/rulebook-rules/rulebook/wiki/Download-and-Install#using-rulebook-with-maven). I used the same basic approach as you. The only difference was I checked for null in the first statement.Why? Because another contributor pointed out that it's not considered a good

[2017-04-28 02:55] Clayton7510 commented on #55
BTW, I can see that you create a RuleBook with the a result type of MyBean here.

[code]
But then you try to instantiate that RuleBook using a different result type of AutoEvaluationResult here.

[code]

I'm not 100% sure why. But here's an example of what I think you are trying to do. And once again, thanks for finding that bug!

[code]

[code]

[code]

[2017-04-28 02:59] Clayton7510 commented on #54
@Gersee I haven't forgot about you. I just have to prep for a meeting with a client tomorrow.
So, I will check this out and respond later tomorrow.

[2017-04-28 07:54] typhoon1978 commented on #55
Hi Clayton,

sorry my sample is wrong, because I deleted the real bean name and put at last a generic _MyBean_.

My real class is declared as follows:

[code]

I preferred using the _bean_ approach rather than the _map_ approach.

Thanks and best regards,
Alessandro.

[2017-04-28 15:53] typhoon1978 opened #57 "Re-using RuleBook instance"
Hi Clayton, I have a question. Is it possible to re-use a RuleBook instance? So, is it possible to call _run_ method in a cycle for example ? Thanks.

[2017-04-28 20:43] Clayton7510 commented on #57
Yes, you should be able to re-use a RuleBook by repeatedly calling run **in the same thread**.
Currently, RuleBook will chain the facts supplied to each rule on the _run_ method.

[2017-04-28 20:44] #56 closed

[2017-04-28 20:44] Clayton7510 commented on #56
Issue resolved in comment per OP.

[2017-04-28 22:27] Clayton7510 commented on #54
@Gersee you are correct. I checked out your example and there is a situation where the @When condition is not evaluated. I corrected this bug and updated it in the 0.5.1-SNAPSHOT and on the develop branch. I will be doing a patch release to push 0.5.1 to Maven Central this weekend.

[2017-04-28 23:12] Clayton7510 commented on #54
I updated the tests and just pushed 0.5.1 to Maven with this bug fix.

[2017-04-28 23:13] Clayton7510 commented on #55
I updated the tests and just pushed 0.5.1 to Maven with this bug fix.

[2017-04-28 23:13] #55 closed

[2017-04-28 23:13] #54 closed

[2017-05-02 10:51] typhoon1978 commented on #57
Ok, probably I'm using it in a wrong way but I try to explain as better as I know.

The problem I meet is this: I have a collection of rules that will evaluate a list of input objects, so my RuleBook represent a list of rules I want to "test" on all those objects that, according to tests, will be clustered setting a `PeopleCluster` enum value through the `Consumer` implementation.

If I instantiat

[2017-05-02 13:45] typhoon1978 commented on #57
I repeated tests and understood that when rules predicates are not met, it returns the last not-null Result stored.

I expected a default Result like:

as declared:

[code]

[2017-05-02 14:00] typhoon1978 commented on #57
Ok, I understood and now I need your help to understand if my concept of "default result" is the same of yours.

Method `setDefaultResult `is called inside `withDefaultResult`, so it's called _once_ when we build the RuleBook and it stores the "default" return value in the same property used for the real return value.

When some rule is met and we have a real result, that default result is overwri

[2017-05-03 02:53] Clayton7510 commented on #57
You are correct that withDefaultResult sets the initial result for the RuleBook by calling setDefaultResult. Within RuleBook, the Result object contains a reference to an object of the result type you specified. The withDefaultResult method initializes the Result object and allows that object to be chained across rules within a RuleBook. It is in effect an entity for that RuleBook (think DDD).

So

[2017-05-13 15:21] #52 closed

[2017-05-14 21:59] Clayton7510 commented on #53
So, I think what I will do (what I have started doing) for thread safety is add an invoke(facts) method to Rule. So that facts can hold state outside of the Rule. That way, different groups of facts can be given to any given Rule without worrying about the state of the Rule. Then I will have the RuleBook (CoRRuleBook) chain rules using the externally supplied facts only instead of the internal fac

[2017-05-16 01:34] wheezymustafa opened #61 "HomeLoanRateRuleBook example not working"
Hello,

Was trying to run through your HomeLoan example and it doesn't appear to be returning any result.  I have the ApplicantBean and the Main classes copied verbatim.  However instantiating the HomeLoanRateRuleBook object gives me a compile error because the following is incompatible:

`HomeLoanRateRuleBook homeLoanRateRuleBook = RuleBookBuilder.create(HomeLoanRateRuleBook).withResultType(Doubl

[2017-05-16 02:02] Clayton7510 commented on #61
There was a little errata in that example. I just corrected it and verified that the example ran. so, thanks for pointing that out. It looks like it was left over from the v0.5 README update.

If you set a Result type then you will need to specify a default result. The reason for this is because the Result is chained across rules and the default result initializes it so that there's something to c

[2017-05-16 12:55] wheezymustafa commented on #61
Thank you for the update.  I think ensuring the developer sets a defaultResult is an important call out.

[2017-05-19 12:20] abhineet27 opened #62 "Using method not working as expected"
In the below example where using is used(highlighted in bold):

RuleBook<String> ruleBook = RuleBookBuilder.create().withResultType(String.class)
				.withDefaultResult("Unknown!")
				.addRule(rule->rule.withFactType(String.class)
				.when(f->f.containsKey("hello") && f.containsKey("world"))
				.**using("hello").then(System.out::print)
				.using("world").then(System.out::println))**
				.build

[2017-05-19 12:33] Clayton7510 commented on #62
Thanks for raising this! You are correct. The change to TypeConvertibleFactMap did not include a toString() method that printed the String like FactMap. I'll do a patch sometime this weekend.

[2017-05-19 12:36] #57 closed

[2017-05-19 12:37] #61 closed

[2017-05-19 13:04] Clayton7510 commented on #62
Fixed in 0.6.1-SNAPSHOT

[2017-05-22 02:08] Clayton7510 commented on #62
v0.6.1 with fix released to Maven Central

[2017-05-22 02:08] #62 closed

[2017-05-22 07:14] abhineet27 commented on #62
Yeah, verified it in v6.0.1. Thanks for such a prompt action!

[2017-05-22 08:04] byvlstr opened #64 "Run several rules each returning a result"
Hi,

I have several rules, each having to be triggered (when is true) and so each one should return the name of the winner (some String value). I have been wondering if you have an advice to give me to achieve that. I thought about creating a RuleBook instance per rule, but this is quite tedious and messy. Also, I am using Spring and the Rule logic is quite long, so either I'd have to create a pac

[2017-05-22 11:02] abhineet27 opened #65 "MegaBank Example With POJO Rules not working"
I don't think the MegaBank Example With POJO Rules are documented properly and even its working ?

I tried to simulated MegaBank Example With POJO Rules but the rules are not getting invoked.
Result is simply coming null.
Applicant qualified for the following rate: null null

[2017-05-22 11:27] Clayton7510 commented on #65
Should be. It was tested in prior releases. However, the example is not part of the unit tests. And there's always a possibility that I fat fingered something along the way in the README :)
I'll check it out tonight and add the example into the develop branch. I've been meaning to add some working examples into the project source for a while now, anyway.

[2017-05-22 11:29] Clayton7510 commented on #64
Hmm... I'll check it out tonight. If you could post stone example code that you are experiencing problems with, then I can better target your specific issues.

[2017-05-22 11:30] Clayton7510 commented on #64
Some not stone. Darn smartphone autocorrect. :/

[2017-05-22 12:41] byvlstr commented on #64
To give you a bit of context: I have a some competition with an overall winner. But I am using RuleBook to reward other players for some special performances. And there is several rewards, which should all be run through.

I have succeeded I think. I created a "CompositeRule", a real RuleBook rule with all annotations. Inside the then() method, I call the logic of the other rules (which are not Ru

[2017-05-22 22:27] Clayton7510 commented on #65
I just checked it out and there was some small errata that I have since corrected in the README example. I also updated the develop branch with the working megabank example in a gradle project.

Finally, there was an issue that must have carried over from v0.5 where the result of chained rules is available to be updated but not read. So, stuff like result *= 4 wasn't working because result wasn't

[2017-05-22 22:44] Clayton7510 commented on #64
I don't know if I fully understand exactly what conditions you are using to select a winner. But if you are just looking to have a Result with multiple values then there are a few ways you can do that. The most obvious way would be to have a Result that's a collection type, like Map or List, etc. So, something like this:

[code]

Another thing you could do, is inject the FactMap into a POJO Rule a

[2017-05-23 01:25] Clayton7510 commented on #65
I just pushed the patch to v0.6.2 in Maven Central.

[2017-05-23 07:08] byvlstr commented on #64
Thanks!

[2017-05-23 07:08] #64 closed

[2017-05-23 13:34] #65 closed

[2017-05-23 20:08] Clayton7510 opened #67 "Enhance RuleBook DSL to force setting a default result value after specifying a result type"
A default result is required when a RuleBook has a result. However, the DSL does not enforce setting a default result before a RuleBook is built. This can be misleading. The DSL should be updated to make it clear that when a result type is specified, a default result must also be specified.

[2017-05-27 17:21] Clayton7510 commented on #53
So, I have thread safety available in non-POJO RuleBooks in the ThreadSafety branch. If you create a RuleBook, running the same instance in different threads with different facts should cause no issues since facts are no longer persisted in the rules.

However, with POJO Rulebooks, facts do hold state - such is the nature of objects and how they are adapted to rules. So, I now give you a choice in

[2017-06-05 14:14] Clayton7510 commented on #53
What fun is taking the easy way out? :-)
Block synchronization on the running of a RuleBook seems kind of expensive. So, I am now looking into more of a copy on run type of functionality. Basically, every time a thread safe RuleBookRunner is run, it creates a new instance of RuleBookRunner and therefore, new instances of its POJO Rules. The only gotcha I am running into is the Result, which I supp

[2017-06-05 21:02] TenYearsGone opened #69 "Megabank example - bug or feature?"
As I understand it, the ApplicantNumberRule only allows loan applications with 3 or fewer applicants to be processed, i.e. if greater than three applicants then processing is halted. In my main method I supplied 4 applicants:

     RuleBookRunner ruleBook = new RuleBookRunner("rules");
   	    NameValueReferableMap<ApplicantBean> facts = new FactMap<ApplicantBean>();
   	    ApplicantBean applican

[2017-06-06 02:28] TenYearsGone commented on #69
Ok so the example it relies on the ApplicantBean's toString() for the Map key.

[2017-06-06 02:28] #69 closed

[2017-06-06 04:08] TenYearsGone opened #70 "Facts of different actual types"
Is it possible to use a Java interface and/or a general class (instead of the concrete type) as the generic type passed to Facts and FactMap and the @Given List?  I replaced references to ApplicantBean with an interface (IApplicant which declares the expected methods) e.g.  FactMap<IApplicant > and in the rule:
@Given private List<IApplicant > applicants
I end up with no objects in the applicants

[2017-06-08 03:04] Clayton7510 commented on #70
If you specify a List with a generic type under a Given annotation then it should be populated. Similarly, if you specify a FactMap, that should also be populated.

I'll post a working example tomorrow.
Sorry for the delayed response.

[2017-06-08 14:49] Clayton7510 commented on #70
If we take the First Time Homebuyer POJO rule from the Megabank example:

[code]

If you do not include the type in the List, then you are correct, you the List will not be injected. And that is true for all collection types: List, Set, Map... The generic type must be specified for it to be injected. But Let's assume you want all facts injected into a collection annotated by Given. that can be don

[2017-06-11 19:52] TenYearsGone commented on #70
Thank you for the help and example.

On Fri, Jun 9, 2017 at 2:49 AM, Clayton Long <notifications@github.com>
wrote:

[2017-06-12 01:21] #70 closed

[2017-06-12 02:26] Clayton7510 commented on #53
I haven't been able to spend as much time working on this as I would like. But I expect this issue to be resolved shortly. After resolving thread safety concerns in all but POJO RuleBooks, I decided to create an immutable RuleBookRunnerFactory class that literally just creates new instances of RuleBookRunners.

How does this resolve thread safety in POJO RuleBooks? It doesn't. But what it does do

[2017-06-12 18:54] Clayton7510 commented on #53
I just pushed some work I had queued from last night. Thread Safety branch should be there. I will push the 0.7 snapshot this evening.

[2017-06-12 20:17] Clayton7510 opened #71 "Make POJO Rules Stateless"
Thread safety in POJO RuleBooks requires different instances of RuleBooks per thread since state is stored in the Rules. This allows the interface to very intuitive. But unfortunately, it also means that each thread needs its own POJO RuleBook. I think the solution is to have Facts injected as parameters instead of instance variables.

[2017-06-13 12:28] wheezymustafa commented on #53
So just to clarify - You're saying new instances per thread should be enough to avoid any issues, or is there something underneath which needs to be addressed before using this in a multi threaded app?

[2017-06-15 13:25] #71 closed

[2017-06-19 13:17] skanakas opened #73 "More clearer documentation please"
You have lots of features and if you could document everything clearly, it will be really useful.

[2017-06-20 10:27] Clayton7510 commented on #73
What specifically do feel is not appropriately documented? Where did you have difficulties with the current Wiki and/or the README?

If you can help point me in the right direction, then I can make sure that what's needed gets in there.

[2017-06-20 15:21] imk opened #74 "stop() in POJO-Rules with Spring"
When using POJO-Rules with Spring, is there any way to configure a Rule as last Rule, like in the DSL-examples: `addRule(RuleBuilder.create().....stop().build());`? Im looking for a way to create a rulebook with different rules that can be executed exclusively (like "only execute the first matching rule"), so i could have a default rule with low order to be executed if there has been no more speci

[2017-06-23 11:20] Clayton7510 commented on #74
I apologize for the delayed response. It's been busy around here.

The equivalent for stop() in a POJO rules would be to have the @Then method in your POJO rule class return a type of RuleState. If the value of the @Then method returned is then RuleState.BREAK that would be equivalent to the stop() method.

[2017-06-23 22:07] imk commented on #74
Definitively no reason to apologize, thanks for your response! That's what i've been looking for. Thank you for your effort!

[2017-06-23 22:07] #74 closed

[2017-06-24 20:16] wheezymustafa opened #75 "Different Fact types in one FactMap"
Hello again.

Is it possible to include multiple object types in one FactMap, after setting the FactType in the ruleBuilder? Example:

I'm first building the rule with a FactType of Deduction.class:

`  private RuleBuilder<Deduction,Boolean> getDeductionRuleBuilder(){
    return RuleBuilder.create().withFactType(Deduction.class).withResultType(Boolean.class);
  }
`

When I setup my FactMap, I have

[2017-06-25 03:30] wheezymustafa opened #76 "addRule() method for RuleBookFactoryBean"
Is there any way we can get the addRule functionality added to the RulebookFactoryBean?  Had a setup like below where we created rulebookbeans (at prototype scope) and were able to use the same rules from the same package within different rulebooks.  After updating the version I noticed the RuleBookBean is deprecated and you now only have package scanning available for spring created rulebooks.

`

[2017-06-25 05:46] #76 closed

[2017-06-27 13:42] Clayton7510 commented on #75
It is possible.

Instead of
[code]
you can do this
[code]
Using your example, the return type of getDeductionRuleBuilder would then be RuleBuilder<Object, Boolean>.

Adding the rule would then look like this
[code]

The issue you were running into is when you restrict a rule to a specific fact type, only facts of that type are available to the rule. If you want the rule to have all the facts given

[2017-06-27 13:44] Clayton7510 commented on #73
Closed due to inactivity.

[2017-06-27 13:44] #73 closed

[2017-06-29 12:20] darrellme opened #77 "Stopping the chain if a Rule returns false"
Hi

If I want to add a bunch of rules, where I want the result to contain success ONLY if all rules are successful, is this possible currently. So, lets say that I have two rules, the first one checks if a user is Male, the second checks whether the users age is less than 40. If the user happens to be female, then the first rule will return false, but the second rule will still process. If the sec

[2017-07-08 17:31] jjzazuet opened #78 "Is it possible to stop RuleBook evaluations when exceptions are thrown?"
Hi. This is an awesome library!

Suppose the following:

- I have a service call with side effects that can throw checked or unchecked exceptions at runtime (e.g. a database read/write call).
- The method call is embedded as a `then` method on a rule evaluation.
- If the service method fails (i.e. throws an Exception), the rule book evaluation continues to execute.

In my use case, is it possible

[2017-07-10 20:51] #75 closed

[2017-07-10 20:53] Clayton7510 commented on #77
My apologies for the delayed response. I was on vacation for a bit.

I think what you are looking for was answered in this issue: https://github.com/rulebook-rules/rulebook/issues/74

[2017-07-10 21:03] Clayton7510 commented on #78
As you pointed out, when an exception occurs the next rule is evaluated. There are a few reasons for this. One being that the idea was faulty rule logic that resulted in exceptions should not break the rule chain. The other one is that guarding against problems with rule creation becomes needed more when those rules are POJO rules - invalid method signatures or access restrictions could cause an e

[2017-07-11 02:26] jjzazuet commented on #78
OK cool will try that. Thanks!

[2017-07-11 02:26] #78 closed

[2017-07-11 14:24] darrellme commented on #77
Hi

Unfortunately I'm not using the POJO rules and the @Then annotation. I need to dynamically create the various rules so I'm using the RuleBuilder.create(..) method, which doesn't look like I can return a RuleState from the then method. Is there another way of doing it ?

Thanks

D

[2017-07-11 15:46] Clayton7510 commented on #77
You can still do it! Pojo rules just use an adapter under the hood to convert to non-pojo rules. ;)

I'll post an example of how that's done sometime later today.

[2017-07-12 18:05] Clayton7510 commented on #77
Here is an example

[code]

The first rule will execute and then it will break the rule chain after the rule is invoked. This shows how to break the rule chain when the rule evaluates to true. In order for a rule to perform any action, including breaking the rule chain, its 'when' condition must be true and its 'then' condition must be invoked. Of course, you could always have a rule that breaks t

[2017-07-19 14:48] LvelezH opened #79 "Is it possible to have an "else" for a rule?"
Hi, is there some way to have like an "else" for a rule? I have to run a set of rules, but I need to know which one "passed" and which ones not, so I was thinking about having a Result consisting on a list of "states" for each rule ran.
The problem is, I have no access to the "result" in the "when" rule part, and the "then" is never ran if the rule result is false. Is there any way to achieve this

[2017-07-19 16:49] Clayton7510 commented on #77
closing due to inactivity

[2017-07-19 17:04] Clayton7510 commented on #79
Your concern is actually addressed in Issue #38.

But to answer your question... No, 'else' is not available for a rule. The decision not to allow for rules firing on 'else' was intentional. The idea being that each rule is an independent action that executes given some specific state. There was also a concern that building out if/then/else logic could lead to nesting rules and basically creating

[2017-07-20 08:59] darrellme commented on #77
Sorry for the late reply. Many thanks for the example, although its not quite what I was hoping for as the result of the when needs to evaluate to true to execute the then, which is where the rule is used to break the rule chain. However, I'd like to be able to break the rule chain if the when fails and only perform the then if the when is successful. Kind of like the the .orElse terminology of ja

[2017-07-20 09:43] LvelezH commented on #79
Hi, and thanks for the fast response :)
I had already started implementing it storing stuff in the "facts", and it's working correctly. Auditing would be great, if it comes I will probably change the way I run my rules.

Thanks again, and kudos for the great lib :)

[2017-07-20 15:52] Clayton7510 commented on #77
A related question was asked in Issue #79. In the interest of DRY, I will paraphrase the response :)

With that being said, adding in a feature that would allow for breaking the rule chain on a 'false' rule... that could happen. But it would be specific to the CoR implementation of RuleBook (currently, the only implementation). Future RuleBook implementations (future sate, there will be more than

[2017-07-24 20:25] igorky commented on #53
wheezymustafa, I faced with race condition issues in 6.2.0 and new instances per thread doesn't fix the problem. So you have to wait till next release.

[2017-07-24 21:17] darrellme commented on #77
That would be great. I don't think it would be unreasonable to simply have a setting to determine whether a rule chain should break on failure of a rule, that would suit my purposes entirely (well, certainly for the foreseeable future). What I'm trying to avoid is having to have a negative rule for each positive rule with the negative rule simply breaking the chain...it seems a little excessive :-

[2017-07-25 02:09] Clayton7510 commented on #53
Different instances of RuleBooks per thread are currently needed prior to v0.7, which is nearly done - although some updates will be added. The 0.7 Snapshot is in Maven Central.

To be clear, if you reuse the same Facts across RuleBooks, even if you have different instances per thread, there will be impacts across any threads that use the same facts. This is being looked into for v0.7 too. So, it'

[2017-07-25 02:15] Clayton7510 commented on #53
In terms of release timeframe for v0.7:

Things have been a little hairy lately.  But this issue is next on deck. Est. release date is between 1-4weeks.

[2017-07-25 13:51] igorky commented on #53
Thank you Clayton7510 for the information.
In my case I used a new instance of RuleBook and new facts per thread and I still faced with race conditions in run method.

[2017-07-25 21:40] Clayton7510 commented on #53
@igorky Hmm... I'm not entirely sure how that could happen. Would you mind posting the code you used or an example where you saw this issue?

[2017-07-27 00:39] Clayton7510 commented on #53
0.7-SNAPSHOT has been updated and and tested with POJO rules and RuleBooks with different Results across different threads. There are a couple more concurrent tests that will be added. But it's pretty much where it's going to be.

One thing you still have to be aware of is shared facts (and FactMaps). Using the same facts across the same the RuleBook run in different threads or different RuleBooks

[2017-07-31 14:57] Clayton7510 commented on #67
In progress; includes all v0.7 changes.

[2017-08-02 11:51] Clayton7510 commented on #67
This is completed with tests in the Issue67_EnhanceDSL branch.

[2017-08-02 15:54] Clayton7510 commented on #77
This update is on deck for the v0.8 release. v0.7 is planned for release to Maven Central on August 7. v0.8 is due to be released by the end of August and the SNAPSHOT release will be pushed on August 7. The v0.8 code is currently in the Issue67_EnhanceDSL branch which includes DSL related feature updates for v0.8.

[2017-08-02 16:06] Clayton7510 commented on #77
Here's what is planned:
Upon release, rules can break the rule chain for compatible RuleBooks as follows.

[code]

Since this behavior is specific to sequential rules execution, it can only work with RuleBook implementations that use sequential rules execution (i.e. CoRRuleBook). So, the default behavior is still _when a rule fails or its condition is not met, the rule chain continues._ However, i

[2017-08-07 16:37] #53 closed

[2017-08-07 16:38] Clayton7510 commented on #53
v0.7 was released with updates for thread safety.

[2017-08-11 13:55] Clayton7510 opened #84 "Support for Groovy"
Defining rules in Java using Lambda is awesome. But Groovy doesn't currently support Lambda; it uses Groovy closures.

Given how much I personally love Groovy and that Groovy scripting could be used to externalize (and version) RuleBooks, I think RuleBook needs to be Groovy too!

[2017-08-11 14:01] Clayton7510 opened #85 "Cleanup old & unneeded rulebook code"
Specialized Spring support for RuleBook isn't really needed anymore. RuleBook can now be easily used with Spring.

Also, there's some old RuleBook code left over from the early days of RuleBook that's only kept there for backwards compatibility purposes. v1.0 should see that old code removed.

[2017-08-12 00:41] Clayton7510 commented on #77
This is updated in the 0.8-SNAPSHOT. One change was made, however. The above code would now look like this:

[code]

[2017-08-13 23:07] Clayton7510 commented on #77
This enhancement was released in v0.8.

[2017-08-13 23:07] #77 closed

[2017-08-13 23:08] Clayton7510 commented on #67
This enhancement was released with v0.8

[2017-08-13 23:08] #67 closed

[2017-08-14 12:32] Clayton7510 commented on #27
Some more examples... actually, all of the examples in the Readme were quietly added in v0.8.

[2017-08-14 19:51] wheezymustafa opened #88 "Unable to create an instance of the specified Rule class <> with fact and result type specified."
Hello, just moved to 0.8 from 0.7.  Prior to and after the update, I'm getting these debug statements in my output when trying to build rules.  However, the rules are being loaded and executed properly as all my testing is passing successfully.  I've tried different variations of below and still end up with the log statements.  Any ideas?

**14:30:59.143 [main] DEBUG c.d.rulebook.lang.RuleBuilder

[2017-08-15 00:04] Clayton7510 commented on #88
RuleBuilder builds Rules of type GoldenRule by default. Since you could implement your own Rule, instead of using the default GoldenRule, it uses reflection to create an instance of the Rule implementation. One of the possible constructors accepts a Fact type and a Result type, which GoldenRule doesn't use. If that constructor fails then it moves on to a constructor that just specifies the Fact ty

[2017-08-15 00:11] Clayton7510 commented on #88
I suppose a good question might be "Why does RuleBuilder look for a constructor that accepts a Fact type and a Result type if GoldenRule doesn't even implement that constructor?" I think the original thought is that GoldenRule would have such a constructor. But since it doesn't and probably won't, it might be worth evaluating whether or not that logic should be changed in a future release. But in

[2017-08-15 10:35] darrellme commented on #77
Cool, thanks, I'll take at this hopefully sometime this week, many thanks for that

[2017-08-15 21:52] wheezymustafa commented on #88
Yes this answers my question, thank you!

[2017-08-15 23:56] #88 closed

[2017-08-22 17:22] wheezymustafa opened #89 "RuleState vs RuleChainActionType"
Can you explain what the expected behavior would be for setting RuleState to next/break vs setting the RuleChainActionType to continue/stop on failure?  I noticed setting STOP_ON_FAILURE automatically sets the rule to RuleState.NEXT.  Just looking for some clarity on these values.

[2017-08-23 03:09] Clayton7510 commented on #89
By default a rule is set to RuleChainActionType.CONTINUE_ON_FAILURE. That means that the rule chain will continue (i.e. the next rule in the chain will be evaluated) if the rule's "when" condition evaluates to false or if there is an error evaluating the rule. The rule is then, in effect, skipped. However, the rule chain will break if and only if the RuleState is set to BREAK (e.g. if the stop() m

[2017-08-28 14:04] wheezymustafa commented on #89
Thank you for the explanation

[2017-08-28 19:28] #89 closed

[2017-09-07 04:11] ivanbportugal commented on #9
The most interesting part of this feature is to be able to store the rules outside of the code itself. I could care less about using text vs your existing DSL as a developer, but consider the opportunity it presents for a business user to create and edit their own custom rules in a web UI.

[2017-09-07 11:31] Clayton7510 commented on #9
I agree, that is a huge benefit and a wider use case. It will get there. The expectation is that this feature will be part of the 1.0 release. Prior to this is enhanced Groovy support (since the current path is to use Groovy scripts for external rules) and Rules Auditing (currently under development).

[2017-09-11 05:47] kentjones opened #90 "Unexpected results in 4.1 A Hello World Example?"
[hellowordrule.txt](https://github.com/rulebook-rules/rulebook/files/1291487/hellowordrule.txt)
[example4.1.txt](https://github.com/rulebook-rules/rulebook/files/1291469/example4.1.txt)
Hi Clayton,

Running the Hello World example using bogus facts the rulebook.getResults().isPresent() is true. Should the results be false? I was expecting a Null value.

Running the Hello World example using RuleBo

[2017-09-12 02:48] Clayton7510 commented on #90
Kent,

The RuleBookRunner that decorates a RuleBook and allows POJO Rule packages to be used as RuleBooks, essentially creates an empty Result. The reason why it does that is so Results can be injected into POJO Rules. If there is no Result, then it can't very well be chained.

However, just because there is a good reason for why Results with POJO rules always exist, doesn't make that good expecte

[2017-09-13 00:26] Clayton7510 commented on #90
The fix is in 0.8.1-SNAPSHOT now. I haven't put in tests for it yet. And as always, use SNAPSHOTs at your own risk. But all of the existing unit tests work - and I'm 90% sure it covered all the cases. I'll add some tests in sometime soon and probably push a patch release this weekend.

[2017-09-13 00:34] Clayton7510 commented on #9
Quick Update: Rules Auditing is currently under development as stated above. And it's not a trivial thing to have that available seamlessly integrated into the existing Java DSL in an unobtrusive way. So, it will probably take at least a couple of weeks before Rules Auditing is complete.

However, I have firmed up a few things with externalized rules: they will definitely be Groovy. Groovy was mad

[2017-09-13 04:35] ivanbportugal opened #91 "FileSystemNotFoundException on standalone Spring Boot app"
I like where this library is going so I am giving it a shot. The main problem I've encountered that I don't seem to find a workaround for is this `FileSystemNotFoundException` that occurs when I run the RuleBook standalone (I am using the annotated classes not the Java DSL). Everything works fine in IntelliJ but if I try to just `java -jar target/long-jar-name.jar` from the command line it fails.

[2017-09-13 12:50] Clayton7510 commented on #91
Thanks for raising this issue. There is a fix in place in the 0.8.1-SNAPSHOT release now that was tested with a Spring Boot packaged Jar. I'm planning on releasing v0.8.1 sometime this weekend.

[2017-09-13 12:56] eitansela commented on #91
From where can I take this fix? It is not in maven repository...

[2017-09-13 15:16] Clayton7510 commented on #91
It's in the sonatype snapshot maven repo: "https://oss.sonatype.org/content/repositories/snapshots"

[2017-09-13 23:41] Clayton7510 commented on #91
Here are some examples of how to add the snapshot repo to your project: https://github.com/rulebook-rules/rulebook/wiki/Download-and-Install

[2017-09-14 04:19] eitansela commented on #91
Succeeded to use sonatype snapshot maven repo.
However, with 0.8.1-SNAPSHOT , when trying to run standalone executable Spring-Boot jar,I get the following exception:

`14-09-2017 07:12:26.350 [XNIO-2 task-1] ERROR c.d.r.model.runner.RuleBookRunner - Unable to find rule classes in package 'com.my.example'
java.nio.file.InvalidPathException: com.my.example: 'com.my.example' is not a valid path
	at c

[2017-09-14 11:26] Clayton7510 commented on #91
Are you using a Spring Boot war deployed on Wildfly? Or a standalone Spring Boot jar w/Undertow? Or, could you attach your source?

I tested this with the Spring Boot example project under rulebook-examples.

But I'll validate the other scenarios listed above and add examples to validate this evening. And of course, if you can provide your specific example, I can ensure it works with that too.

[2017-09-14 12:00] eitansela commented on #91
I use standalone Spring Boot jar w/Undertow

[2017-09-14 12:10] Clayton7510 commented on #91
Interesting, that's what I also use here in the _helloworld-spring-web_ app in the _Issue90_PojoResults_ branch. And I didn't run into that issue; it worked as expected. The project can be seen here: https://github.com/rulebook-rules/rulebook/tree/Issue90_PojoResults/rulebook-examples

Would you mind attaching your example or providing a link so I can see what the issue is? Judging by your error,

[2017-09-14 16:58] brunoriscado opened #92 "Rules cannot iterate through facts?"
I understand one can apply multiple rules to any value on the facts map.

But what if I have a List of objects that I want to have evaluated by the same rule pipeline?

Imagine I have something like:

[code]

It seems that if I want to put a List/Set of objects through a rule pipeline at the moment I always need to recreate a new Rulebook, is this right?

[2017-09-14 19:06] eitansela commented on #91
After hours of digging and comparing my code to your example Spring Boot application, I finally found the problem!

It is related to the following in build.gradle:
`springBoot {
    executable = true
}`

This is done as part of Spring Boot convention to enable Spring Boot applications run as Linux in systemd services, as detailed here:
https://docs.spring.io/spring-boot/docs/current/reference/html

[2017-09-14 21:12] Clayton7510 commented on #92
You do not need to create a new RuleBook each time you run it. RuleBooks can, however, change facts. So, if you rerun the same facts in a RuleBook multiple times, then you could certainly get a different state after subsequent runs.

Taking a modified version of your example:

[code]

RuleBooks accept data as Facts, which can also be created or manipulated within a Rule. A Rule is provided all of

[2017-09-15 11:23] brunoriscado commented on #92
Thanks will give this a try.

[2017-09-15 11:23] #92 closed

[2017-09-16 02:46] Clayton7510 commented on #38
This is complete and testing save for some minor updates to the README and possibly some more tests to ensure appropriate coverage (although there are some tests present). It is in SNAPSHOT-0.9 in the sonatype maven snapshot repo.

[2017-09-16 03:21] Clayton7510 commented on #79
@LvelezH auditing is currently available in 0.9-SNAPSHOT. Auditing will allow you to determine which rules were run, and which rules were not run. Here's a link that explains how you can use the snapshot repository in your project: https://github.com/rulebook-rules/rulebook/wiki/Download-and-Install.

[2017-09-16 03:22] Clayton7510 commented on #79
The plan is to have 0.9 released to Maven central within the next week or two.

[2017-09-16 23:57] Clayton7510 commented on #85
FactMap also shouldn't be required. Any Map should suffice for Rules and RuleBooks, including but not limited to FactMap.

[2017-09-17 00:56] #91 closed

[2017-09-17 01:19] Clayton7510 commented on #90
This was fixed in v0.8.1, now pushed to Maven Central.

[2017-09-17 01:19] #90 closed

[2017-09-17 01:22] Clayton7510 commented on #91
The fix for including POJO rules in a Spring Boot uber jar is in v0.8.1, now pushed to Maven Central.

[2017-09-18 10:32] hamri opened #95 "RuleBookRunner.run() => ClassNotFoundException"
Hello,
I'm using RuleBook with play framework and Guice DI. I got ClassNotFoundException after running the rules. Below the code used to create RuleBookRunner:
`bind(RuleBookRunner.class).toInstance(new RuleBookRunner("services.validation.rules"));`

Thanks,

[2017-09-19 02:05] Clayton7510 commented on #95
I haven't tried it with Guice. Tomorrow and Wednesday are sprint demo + planning @ work. So, it may take me a couple of days to get to it. But I'll definitely check it out this week.

[2017-09-22 09:33] hamri commented on #95
Thanks a lot for your help

[2017-09-24 04:53] Clayton7510 commented on #95
Sorry for the delay. Work was a little nuts this past week. Anyway, I tried out your code above and I didn't seem to have an issue. Perhaps I am missing something with your configuration.

I updated the develop branch with a guice example called megabank-guice here so you can see what I did to configure it with guice: https://github.com/rulebook-rules/rulebook/tree/develop/rulebook-examples

[2017-09-24 14:48] Clayton7510 commented on #38
The current snapshot 0.9-SNAPSHOT is released to the sonatype snapshot repo. Assuming no issues, this snapshot release will become the 0.9 release in Maven Central shortly.

[2017-09-24 14:49] Clayton7510 commented on #79
The current snapshot 0.9-SNAPSHOT is released to the sonatype snapshot repo. Assuming no issues, this snapshot release will become the 0.9 release in Maven Central shortly. It will contain rules auditing.

[2017-09-27 14:30] thormanrd opened #96 "Re-using a Rulebook"
When I use this construct, resetting the rulebook's result does not remove its "presence" so I have to reset the default result value and test for that condition to know the facts did not satisfy any of my rules.  Essentially the reset does not work as I would expect.

		for(ThreatVector threatVector : threatVectors) {
			facts.setValue("threat", threatVector);
			ruleBook.setDefaultResult("NONE")

[2017-09-27 14:35] thormanrd commented on #96
I would expect a result reset to do just that without having to reestablish a default for the next iteration.

[2017-09-29 16:43] Clayton7510 commented on #96
Resetting the RuleBook's result changes the result back to the default value for the current thread. The default result need only be set once.

Perhaps I don't understand fully what you expect to happen. Also, are you using POJO rules or the DSL defined rules? I've attached some code for clarification. In the below example, the default result is "NONE". After the rulebook is run, it's changed to "

[2017-09-29 18:32] thormanrd commented on #96
Hey Clayton

Thanks for the reply. I'm using the POJO. When I reset and reuse the
rulebook the default is no longer present. I need to fork the repo and
contribute. Just haven't had time yet.

Thanks for sharing.

Bob Thorman
AT&T

On Fri, Sep 29, 2017, 11:43 Clayton Long <notifications@github.com> wrote:

[2017-09-30 00:24] Clayton7510 commented on #79
After further consideration, I think adding "orElse" to the DSL might be a good idea. The "orElse" could create a rule action based on the negative condition. This would still make each rule an independent assertion.

[2017-09-30 13:55] Clayton7510 commented on #96
Thanks for the clarification, Bob. POJO rules and DSL rules use the same Result class. And that Result class is what implements the reset() method. So, I wouldn't think there would be a difference between using the DSL or POJOs to create rules. But when in doubt, test ;)

So, I added a test to mimic what your scenario is and I wasn't able to reproduce the issue. You're right in your assumption tha

[2017-09-30 14:20] Clayton7510 commented on #96
For example, if you had a class like this:

[code]
And in a POJO rule, you had something like

[code]

Let's assume that you called setDefaultResult() on your RuleBook like this:

[code]

After ruleBook.run() in the above example, the original default result and the result would be the same object. However, the value of both would be changed to Thing from what was initially DefaultThing. So, reset

[2017-09-30 19:20] #38 closed

[2017-09-30 19:26] Clayton7510 opened #99 "Refactor Gradle Build Scripts"
Currently, the root project defines most of the functionality for the subprojects. However, as more diverse functionality is needed and other projects are added, there is a need to have the gradle buid scripts pushed down to the subprojects with less common functionality defined in the parent (although common tasks should still be available in the parent). There is also a need to upgrade the versi

[2017-10-01 04:25] bradegler commented on #99
I added a small PR for the changes you requested. Let me know if that meets your need for this issue or if you were looking for something more specific.

[2017-10-02 20:00] #99 closed

[2017-10-02 20:01] Clayton7510 commented on #99
Thanks! I checked out your PR. That definitely helps.

[2017-10-02 20:21] Clayton7510 commented on #95
Closed due to no response, silence meaning "all good." :)

[2017-10-02 20:21] #95 closed

[2017-10-08 16:24] Clayton7510 commented on #96
Closing due to lack of activity

[2017-10-08 16:24] #96 closed

[2017-10-09 19:26] thormanrd opened #101 "Spark class loader returns a jar file from getResources"
Using the RuleBook in an Apache Spark environment forced me to write another version of the RuleBookRunner to include the processing of a JAR file.  The following snippet was added to the findRuleClassesInPackage in case you want to add it to your base RuleBookRunner...

				else if (Files.exists(ex, new LinkOption[0]) && ex.getFileName().toString().endsWith(".jar")) {
					logger.info("We're goin

[2017-10-10 10:29] brunoriscado opened #102 "Is there anyway of building rules that have a default result and are also auditable (using asAuditor)?"
I can't seem to find a way of building a rulebook that will allow the results to have a default value and be auditable (get a map of rules status).

Any help? And if there's no way are there any plans to add it?

Thanks

[2017-10-10 10:58] brunoriscado commented on #102
I believe I found a way by creating a RuleBookDefaultResultBuilder first, buidling it and then wrapping it in a: new RuleBookAuditor<>(builder.build());

[2017-10-10 11:24] brunoriscado commented on #102
Found a way around it by wrapping my ruleBook in a new RuleBookAuditor constructor and then adding the rules built separately.

The only catch is that I can't build the rules with Fact types check otherwise the audit map doesn't get populated.

[2017-10-10 14:17] brunoriscado commented on #102
Could you guys maybe add an example of this to the documentatio, something like this:

[code]

[2017-10-10 17:50] Clayton7510 commented on #102
Absolutely! An example will be added. And I'll take a closer look at the DSL to make sure that adding auditing with a default result is more straightforward.

[2017-10-11 01:58] Clayton7510 commented on #102
@brunoriscado, I pushed 0.9.1-SNAPSHOT to the sonatype snapshot repository. That should give you the additions to RuleBookBuilder that you were looking for. You can see an example in this test: https://github.com/rulebook-rules/rulebook/blob/Issue102_AuditableDefaultResult/rulebook-core/src/test/java/com/deliveredtechnologies/rulebook/model/RuleBookAuditorTest.java

[2017-10-11 02:00] Clayton7510 commented on #102
An example on how to add the snapshot to your build is here: https://github.com/rulebook-rules/rulebook/wiki/Download-and-Install

[2017-10-11 02:54] Clayton7510 commented on #84
Given the differences between Groovy projects and Java 1.8+ projects (Jacoco vs Cobertura, JUnit vs Spock, etc.), I think it makes sense to move rulebook-groovy to another repo. That will probably be done this week.

[2017-10-11 07:33] brunoriscado commented on #102
Cheers Clayton, thanks for the help.

Additionally if it was possibly to add rules with specific types to auditable Rulebooks, that would be awesome.

But for now I think I'll close this. Again thanks

[2017-10-11 13:45] Clayton7510 commented on #102
@brunoriscado, I guess I am not 100% sure what you are asking. Rules that use specific types of facts can already be added to auditable RuleBooks. The first and third rules added to the auditable RuleBook in this test both have facts specified as type String and their Result type is inherited from the Result type of the RuleBook https://github.com/rulebook-rules/rulebook/blob/develop/rulebook-core

[2017-10-11 13:46] Clayton7510 commented on #102
@brunoriscado, I guess I am not 100% sure what you are asking. Rules that use specific types of facts can already be added to auditable RuleBooks. The first and third rules added to the auditable RuleBook in this test both have facts specified as type String and their Result type is inherited from the Result type of the RuleBook https://github.com/rulebook-rules/rulebook/blob/develop/rulebook-core

[2017-10-11 13:49] brunoriscado commented on #102
Nope, not at all it's just that when I ran my example, if I specified type, the audit map was coming back empty.

Let me have a look at it again, it's possible my test was incorrect.

In any case if there is any issue I'll let you know, really appreciate the changes you've done for auditable rulebooks with default types.

[2017-10-11 14:06] Clayton7510 commented on #102
Thanks. Definitely let me know if you run into anything. And if you do, please post the code snippet that doesn't function as expected.

[2017-10-11 14:06] brunoriscado commented on #102
Yep, will try to post it today. Thanks

[2017-11-01 16:58] brunoriscado opened #104 "Please delete"
Ignore... I implemented it incorrectly!

[2017-11-02 13:05] #104 closed

[2017-11-02 13:07] Clayton7510 commented on #102
Closing due to inactivity

[2017-11-02 13:07] #102 closed

[2017-11-08 15:05] jakekugel opened #105 "Unchecked exception thrown from POJO when() method is handled silently"
Hi,
thanks for making this rules engine available.  I'm just starting to play around with Rulebook POJO rules, and due to a bug in my code I was throwing an NPE from the when() method.  It looks like Rulebook silently handles the exception though, treating an exception as a return value of false.

This might be more of a question than an issue, but should an unchecked exception in this case be log

[2017-11-09 16:11] Clayton7510 commented on #105
Jake,

Thanks for raising this!

The scenario you highlighted above is when a POJO rule cannot be invoked. This could happen if say, the @When annotated method was marked private. If that happened then RuleBook could either throw an exception, stop the rule chain or continue processing and treat the failed rule as, well, a failed rule. The 3rd option was chosen. And how RuleBook deals with failed/

[2017-11-09 22:57] jakekugel commented on #105
Ok thanks for the reply, sounds good.  I'm not sure how you guys like to work, should I submit a pull request to log a message when it happens with the @then method?

Jake

[2017-11-09 23:49] Clayton7510 commented on #105
Yep, that works.

[2017-11-15 14:45] jakekugel commented on #105
Oops I didn't notice it earlier, but it looks like an exception from then() is already logged, this is line 302-306 of com/deliveredtechnologies/rulebook/runner/RuleAdapter.java in develop branch:

[code]
Thanks,
Jake

[2017-11-17 11:15] htejwani opened #106 "Question: Does RuleBook framework comply with the JSR 94?"

[2017-11-17 12:16] Clayton7510 commented on #106
It does not.

[2017-11-30 15:17] pjotre86 opened #107 "null-Facts suppress rule-execution"
Hey there!
First of all: Just discovered RuleBook and I like the concept pretty much.
I'm just creating a small test-project to see what's possible and stumbled over a small uncovinient/unexpected behaviour.

I created some POJO-rules and want to execute them with
`rulebook.run(facts);`
The facts I create via:
[code]
Everything works fine so far, my rules are behaving like expected, but not when `

[2017-11-30 15:17] pjotre86 commented on #107
``

[2017-12-04 13:52] Clayton7510 commented on #107
It should work with null Facts. But if you are seeing something different then I'll check it out. It's possible this could be a bug. Thanks for raising this issue.

[2017-12-05 06:12] walesfang opened #109 "NPE throws when running facts within named rules"
Description:
When i declared within Rulebook java class approach within for example below code:

[code]

And calling within below approach:

[code]

It throws NPE when trying to fetch Auditor java field; As a named rule is by default an Auditable type, so triggered fetching the Auditor which throws NPE inside AuditableRule.java :

[code]

I have done a patch solution by my side for project needs,

[2017-12-05 14:58] pjotre86 commented on #107
Thanks!
Do you need a more detailed example?

[2017-12-05 20:48] Clayton7510 commented on #107
If you have a complete example, that would be helpful. Thanks.

[2017-12-06 12:27] pjotre86 commented on #107
All right, here's qhat I got, I put it in a simple test-scenario:
Her the simple Rule I have. As you see it should always be executed:

[code]

And here the corresponding tests:

[code]
When I execute the tests the "runWithNull"-tests fails, because the auditor says the rule was not executed, giving back RuleStatus.SKIPPED.
Here the result:
[code]

Just let me know if you need futher information.

[2017-12-06 21:46] Clayton7510 commented on #107
Thanks for the detail. I see there is a problem with the facts filter in the rule implementation. It should be corrected by the end of this weekend.

Thanks for raising this!

[2017-12-11 20:05] Clayton7510 commented on #107
This is fixed in 0.9.1-SNAPSHOT

[2017-12-12 10:26] pjotre86 commented on #107
Cool, seems to work.
Thanks alot!
When will you release 0.9.1 ?

[2017-12-12 14:08] Clayton7510 commented on #107
This week. Possibly tonight.

[2017-12-14 17:05] pjotre86 opened #111 "Injecting helper-objects into POJO-rules"
Hey!
I have one more question.
Imagine the case I need some utility-object (f.e. for db-access) in my POJO-rule. Is there any other way to inject this object into the rule than injecting it as a fact?
Because this feels kind of wrong to me, because the object is not really a fact which is needed to handle my business-rules, it's more a helper-object... I guess you know what I mean.
In a spring-con

[2017-12-15 19:08] Clayton7510 commented on #107
I had to go out to a client site this week and I did not have my deployment keys with me. So, I will be deploying tonight.

[2017-12-15 19:11] Clayton7510 commented on #109
@walesfang sorry for the delay. Checking this out now.

[2017-12-15 20:07] Clayton7510 commented on #109
I think I see your issue. You did something like this:

[code]

You should have done something like this:

[code]

The difference is that when you use the Lambda to define the rule from the RuleBookAuditor, it infers that it needs an AuditableRule because it changes the type of the builder to a RuleBookAuditableBuilder.

However, the example you gave does look like it should do the same kind of th

[2017-12-15 20:26] Clayton7510 commented on #111
Right now, I think it would need to be fact. But I like where you are going with this. I think there would be some value in having rules be container aware for Spring and maybe Weld too.

The RuleBookRunner takes care of instantiating the POJO Rules and RuleAdapter takes care of adapting POJO rules to the Rule interface. So, you could modify RuleAdapter or create another Spring container-aware Rul

[2017-12-16 04:54] walesfang commented on #109
No problem, take your time and thanks for the reply.
Yes definitely as you have mentioned, the 2nd part as work around may avoid the problem.
However in my project needs, i may want to have certain encapsulation as below:
[code]
In this case, i have taken CoR book defineRule approach, so may not
**add rule before  RuleBookAuditor.build() been called which could add AuditableRule to avoid the NPE p

[2017-12-16 06:24] walesfang commented on #111
I should say i am in the similar context in my working project:
e.g. my RuleBook need to call other services (rpc) to get a list of POJO (templates) which is the skeleton of building my output result regarding to different business rules defined in my rule book.
Will also try have a look on this.

[2017-12-16 12:56] Clayton7510 commented on #107
v0.9.1 was released to maven central.

[2017-12-16 18:36] pjotre86 commented on #107
Cool, thanks alot! I will give it a try within the next couple of days.

[2017-12-16 18:47] pjotre86 commented on #111
I'd be happy to help out. But before I'd start coding I would give it some more thoughts. I'm pretty sure that there is some value in having the possibility to inject utility-objects into rules, especially in a bit more complex applications I think it's is a very likely necessity.
But to keep the API of rulebook clean I would not just consider this in a spring (or weld, guice whatever) context. I

[2017-12-18 01:06] Clayton7510 commented on #111
@pjotre86, I like how you are thinking about not wanting to be tied into one specific container. But I also think there is value in using the syntax that developers are used to. There is also a JSR standard for injecting resources that Spring supports (not sure about Guice tho). But regardless, the implementation is going to be a little different for each provider.

I would say, start with Spring

[2017-12-18 04:10] #106 closed

[2017-12-18 04:11] #105 closed

[2017-12-18 13:15] pjotre86 commented on #111
All right, sounds like a plan to me!
I have to say I'm not a spring-expert, but I will use this gain some experience/knowledge there. My schedule is abit tight, as I also have a job + a new girlfriend ;-) but I think latest on friday I'll find some time to look into it.

[2017-12-18 13:22] Clayton7510 commented on #111
I don't know many people who do this stuff as a full-time gig. It's just about learning, having fun and giving a little back as time allows. If you have questions, feel free to post on here or the gitter channel. And if you find that you don't have the time to allocate for completion, post that too and someone else can pick it up.

[2017-12-30 19:52] sebasrock opened #113 "RuleBookBuilder get object with result and auditing"
I can't  see how get rulebook with result and auditing in same builder, and other questions in spring boot app, I can add to RuleBookRunner , the custom rules example

[code]
but this case i cant´t  mix auditing and result

[2018-01-04 17:53] Clayton7510 commented on #113
I'll check this out tonight.

[2018-01-11 10:20] khandelwalkritika05 opened #114 "POJO Rules dynamic ordering"
Is it possible to assign dynamic value for order to @Rule instead of giving constant value

[2018-01-11 11:53] #114 closed

[2018-01-12 19:29] Clayton7510 commented on #113
I'm guessing that you are defining your rules in a different Configuration class.

I think probably the simplest way to do what you are trying is with a configuration more like this:

[code]

Every RuleBookRunner is also an Auditor. So, you can then do something like this:

[code]

The above example can be ammended to the unit tests in rulebook-spring if you want to try it out.

[2018-02-02 13:10] tomekbielaszewski opened #115 "Few typos in readme found"
Hi,

I've found a few typos in the Readme.md file. I prepared a really small PR to fix this.
If you consider such contribution to be to small to add me to contributors - that's fine. I've done this only for fun.

Cheers!

[2018-02-02 13:58] tomekbielaszewski commented on #115
https://github.com/rulebook-rules/rulebook/pull/116

[2018-02-20 18:52] manishsangani opened #117 "Unable to update field in rule object when using Custom Java Object in @Given"
Hi,
I have followed megabank example to create a rule which uses custom java object, but I keep getting error that
RuleAdapter - Unable to update field 'tags' in rule object 'class com.bofa.sa.rulebook.TwoWeekDestroyRule'

Here is my Rule class.

[code]

Any help is appreciated.
Thanks

[2018-02-28 08:08] cactus818 opened #118 "RuleBookRunner not working for Spring Boot fat jars"
Spring Boot jars have a script header.
When trying to iterate over the files in a folder (FIles.walk()) the filesystem is not recognized as a ZIP fs - and therefore no rules are found.

Spring Boot fat jars with this header should be recognized and handled properly.

[2018-02-28 08:12] cactus818 opened #119 "Rule wiring at build time via annotation processing"
Currently package scanning is performed at runtime which has pros and cons.
It is probably more robust and safer to wire the logic at build time.
The idea:
have an annotation processor similar to the RuleBookRunner that looks for @Rule annotated classes and groups them into rulebooks according to the packages they're found in.
A registry would then permit to retrieve the fully wired rule books.
Th

[2018-02-28 18:23] Clayton7510 commented on #119
Hmm... that's an interesting idea. I don't think I would want to change or remove the ability to have RuleBooks built at runtime. And there are many reasons for this - it uses a similar approach to Spring's component scanning, which it what many people are used to and the implementation is of POJO rules is really just an adapter, which makes it relatively simple.

However, I could see having an op

[2018-02-28 18:25] Clayton7510 commented on #115
Merged and thanks!

[2018-02-28 18:25] #115 closed

[2018-03-04 19:37] rizjoj commented on #118
I faced this problem to when running rulebook rules from a spring boot executable jar. I could not figure out how to obtain the spring boot custom class loader to read classes from BOOT-INF/classes (if I did, the System class loader, different from spring boot class loader, at runtime would complain that the package name didn't match the package path)

In the end I worked around it by creating my

[2018-03-05 03:15] rizjoj commented on #118
Alternatively using the Reflections Library: https://github.com/ronmamo/reflections worked both as a regular project and from an executable jar:

pom.xml (Use version 0.9.10 as there's an outstanding bug with 0.9.11)
[code]

`findRuleClassesInPackage` method can be accomplished via:
[code]

[2018-03-05 07:38] cactus818 commented on #118
This looks very promising - thanks for sharing.
FWIW the solution we're currently testing:
- create a `SpringBootRuleBookRunner `as copy of `RuleBookRunner`
- overwrite `findRuleClassesInPackage()` with

[code]

[2018-03-05 20:13] ekoon commented on #111
Use SpringRuleBook and @RuleBean.  Create the rulebook as a SpringRuleBook and a new bean for your POJO.  Annotate your POJO with @RuleBean.  Your POJO now supports @Autowire.

[2018-03-17 14:45] Clayton7510 commented on #117
Sorry about the delayed response. My full-time gig has been a little unforgiving in terms of workload over the past few months. But I have a breather this weekend. I'll check it out. Thanks.

[2018-03-18 20:46] Clayton7510 commented on #118
This is now in the v0.10 SNAPSHOT release.

[2018-03-18 20:46] #118 closed

[2018-03-18 21:10] Clayton7510 commented on #117
I checked this out and the only thing that stood out was the last line of your code is not valid syntax. You combine the reference syntax with lambda syntax and in Java 8+, it's one or the other. So, ruleBook.getResult().ifPresent(System.out::println); or ruleBook.getResult().ifPresent(result -> System.out.println(result));

Now, I did have to infer the internals of ResourceTags based on your code

[2018-03-18 21:12] Clayton7510 commented on #113
Closing due to lack of response/activity.

[2018-03-18 21:15] Clayton7510 commented on #109
Closed since a reasonable resolution is in place.

[2018-03-18 21:15] #109 closed

[2018-03-18 21:16] Clayton7510 commented on #107
Closed due to fix released in v0.9.1.

[2018-03-18 21:16] #107 closed

[2018-03-18 21:18] Clayton7510 commented on #101
I think there is a fix for this that should work via v0.10 SNAPSHOT. It is still to be confirmed with Spark, however.

[2018-03-20 22:05] manishsangani commented on #117
Thanks Clayton.
I will take a look at it.

Any future plans on adding a feature to externalize rules?

Thanks
Manish

Regards,
Manish
________________________________
From: Clayton Long <notifications@github.com>
Sent: Sunday, March 18, 2018 5:10:44 PM
To: rulebook-rules/rulebook
Cc: Manish Sangani; Author
Subject: Re: [rulebook-rules/rulebook] Unable to update field in rule object when using Cust

[2018-03-20 22:22] Clayton7510 commented on #117
@manishsagani There are plans to externalize rules using Groovy scripts. I just need to time to make it happen ;) But, it will happen.

[2018-03-21 03:24] ekoon opened #122 "Resume engine"
Say the engine or even application has stopped.  Given the latest Auditor status map from getRuleStatusMap(), is there a way to resume where the application has left off?

[2018-03-21 17:11] Clayton7510 commented on #122
Not really. I think two things would be needed to re-run a RuleBook from an intermediate state: the Facts at that state and the the next rule to be executed (along with the state of the previous rules' execution for auditing). RuleBooks are run entirely in memory. So, there wouldn't really be a way to recover the Facts at a particular state for a RuleBook.

With that being said, you could certainl

[2018-03-21 17:29] #113 closed

[2018-04-06 13:24] mxw589 opened #123 "Removing rules at runtime"
Hi, do you think it would be possible to add some system by which rules could be removed from a rulebook at runtime? I realise this would mean that you would need some way of uniquely identifying rules within a rulebook, so perhaps addRule could also take in a map of String -> Rule similarly to factmap.

The usecase is that I have a webservice wrapper around a rule book, to which I would like to b

[2018-04-12 07:34] tuscland commented on #9
Would really love to have this feature! Is there a flexible workaround at the moment? We would prefer not hard-code the rules in our application right now.

[2018-04-17 11:42] Clayton7510 commented on #123
If I'm reading you correctly, you basically want be able to choose whether to invoke or ignore a rule at runtime? Adding/removing at runtime would have some consequences since multiple threads can share a RuleBook and there are some optimizations under planning that would explicitly parallelize the processing of a RuleBook. But coercing a RuleBook into ignoring some rules at runtime and running ot

[2018-04-17 11:43] Clayton7510 commented on #122
Closed due to inactivity.

[2018-04-17 11:43] #122 closed

[2018-04-17 11:43] #117 closed

[2018-04-17 11:49] Clayton7510 commented on #9
@tuscland I think at the moment, the flexible workaround would be to have rules contained in a separate module, or better yet, have them executed within a specific context in an independently deployable service. So, the service, could change (with new/updated) rules, but the application that's dependent on the service would remain the same since it would invoke those rules through a well-defined i

[2018-04-17 18:32] ruchichhabra009 commented on #79
@Clayton7510
Any example for OrElse in DSL? I am planning to create child of GoldenRule Class and have custom ELSE method which will be called when the condition returns true. I am not sure if that will be better approach. As you are pretty familiar with the code, can you suggest?
Thanks

[2018-04-18 13:25] tuscland commented on #9
Thanks Clayton, sounds good.

[2018-04-19 10:45] xPlutox opened #124 "Log exceptions"
In RuleAdapter.mapFactsToProperties exceptions are swallowed. They should be logged to get a better view on the initial problem.

[2018-04-19 16:05] Clayton7510 commented on #124
Branch off the develop branch and issue a PR. Agreed that logging could be more robust.

[2018-04-20 06:14] xPlutox commented on #124
@Clayton7510 can you add me as collaborator pls? I'm not able to create branches at the moment.

[2018-04-20 11:05] Clayton7510 commented on #124
Thanks for the PR! I'll complete the review after work today.
You don't need to create a branch. You can just fork, make updates and then issue a PR. Actually, that's the route I am going to follow going forward, too.

Prior to release, I will, however, update the collaborators in the Maven POM to include you as a collaborator so that credit is attributed to your contribution.

[2018-04-20 15:27] mill5james opened #126 "Getting duplicate "IllegalStateException: Duplicate key" exception when using POJO rules"
When using POJO rules in RuleBook, I get an "java.lang.IllegalStateException: Duplicate key <key>" exception if I have a rule that return `RuleState.NEXT` from the `@Then` method.

There is a [Gist ](https://gist.github.com/mill5james/367202b9d50d4353e4aae8778598c9f9) with the files also.

Invoking the rules is simple
[code]
And there are two rules that I would expect to run sequentially
[code]
[c

[2018-04-20 21:24] Clayton7510 commented on #126
Thanks for providing your code. Unfortunately, I am as of yet, unable to reproduce your issue. Attached below is my complete code with gradle build script. You can run it using ```gradle run```.

My output was as follows and there were no errors:

[code]

It's funny, there are actually unit tests that address this scenario here https://github.com/rulebook-rules/rulebook/blob/develop/rulebook-core/

[2018-04-25 16:00] Clayton7510 commented on #126
Fair enough. I'll check it out a bit more see if we can't get this thing resolved.

[2018-04-26 12:29] Clayton7510 commented on #126
@mill5james it turns out this was a bug, and an interesting one at that. There was a basic assumption that the name of a fact is also the key of the fact when added to a NameValueReferableMap. When that  assumption was broken, it turns out weird things happen. So, now the name of the fact as the key (and what matches the fact) is overridden by the NameValueReferableMap key value for each fact. The

[2018-04-26 12:56] #124 closed

[2018-04-26 13:09] mill5james commented on #126
@Clayton7510  Fantastic! Just tested it and the bug is fixed in the snapshot. Thanks for the fast turn around.

[2018-04-26 13:09] #126 closed

[2018-04-26 16:06] joannbrereton commented on #111
@ekoon Can you provide an example of the use of @rulebean ?

[2018-04-26 22:06] Clayton7510 opened #127 "Update GoldenRule exception handling to be more transparent"
GoldenRule currently swallows all exceptions. While this may be helpful in some cases (e.g. a rule attempts to use a fact that does not yet exist), it can hide other exceptions that should be thrown. GoldenRule should therefore be updated to throw non-whitelisted exceptions.

[2018-04-26 22:30] Clayton7510 commented on #127
Ha, I completely forgot that this is already accounted for when executing actions for a rule since a rule can have multiple actions. The catch block that was hiding an error is really intended to catch when errors - the error that was being hidden was a bug with filtering facts in a specific scenario. Given that, I think it's appropriate that the catch stands as is.

[2018-04-27 11:28] Clayton7510 commented on #101
This should be working now as of the v0.10 release.

[2018-04-27 11:29] #101 closed

[2018-04-27 17:17] mill5james opened #130 "RuleBookRunner.getResult() is declared as Optional<Result> but always returns a value"
I would expect that `public Optional<Result> getResult()` on the `RuleBookRunner` class would not return a value if any result was not set during the run of the rules.

Given a very simple rule
[code]
But if I run the rules expecting no result if my rule does not match
[code]
I get an exception:
[code]

I believe that this is a bug in the AbstractRuleBookRunner class

https://github.com/rulebook-r

[2018-04-27 19:38] Clayton7510 commented on #130
For RuleBookRunner, you are correct. There is always some result. This allows the result to be injected and chained in POJO rules. However, if you were to create a RuleBook using the Java DSL or, say, CoRRuleBook then it would not always have a result. Since implementation of a RuleBook and the RuleBook interface are separate, getResult returns an Optional<Result> as part of the interface. It's up

[2018-04-27 19:45] mill5james commented on #130
@Clayton7510 I think I understand what you are saying. It just seems that if you have introduced an `Optional<Result>` then it should be _optional_. Why does the RuleBookRunner require a result while other methods do not allow the optional behavior?

I have submitted a Pull Request that implements the behavior that if the result is not specified, the `Optional<Result>.isPresent()` returns `false`

[2018-04-27 19:49] mill5james commented on #130
Also, there is a `setDefaultResult(…)` method on RuleBookRunner so that if you wanted to always return well-know value and avoid the `Optional<Result>.isPresent()` test, that is still possible.

[2018-04-27 20:33] Clayton7510 commented on #130
I don't remember exactly what the reason was for RuleBookRunner doing that. I think it may have had something to do with some rules having a default result and others not having a default result and it not maintaining the reference from one to the next... honestly, I don't recall.

But I agree that it would be nice to not enforce a default result if none is specified. Thanks for the PR. I'll check

[2018-04-27 20:40] Clayton7510 commented on #130
Merged.

[2018-04-27 20:40] #130 closed

[2018-05-02 00:17] rizjoj opened #132 "Can POJO rules have their facts changed?"
In a pojo rule we inject a fact like so:

    @Given("isPresent")
    private Boolean isPresent;

But, can one rule change this value so that following rules can see the changed value? It doesn't seem to work for me.

[2018-05-02 04:11] rizjoj commented on #132
Solved it using:

    @Given("isPresent")
    private NameValueReferable<Boolean> isPresent;

[2018-05-02 04:11] #132 closed

[2018-05-03 21:56] rizjoj commented on #127
I would have really liked my exceptions in my pojo rules to bubble up (and halt the rule chain) so that I can report them back to the user (this is because my rules calls other code which could throw custom Exceptions in certain situations and would like to report to the user why the process failed)

As a workaround, I can catch my exception within the rule's Then/When clause, store the message in

[2018-05-03 22:14] Clayton7510 commented on #127
I've kind of been going back and forth with this. On one hand, I think conditions should be pretty specific and that it's the responsibility of the implementer to ensure that their conditions are error free (or that they are appropriately trapped and handled in the condition) - rules are executed in a chain, but they should be relatively autonomous. On the other hand, I see benefit in knowing if a

[2018-05-04 16:08] rizjoj commented on #127
I actually like the thought in your last paragraph - stop on failure and bubble the exception up top. If so implemented, would this be automatic? or would I have to set a rule state or set a flag? Sounds interesting.

If I could make a case for it being automatic (I'm totally glossing over the practical limitations here!) ... my reasoning goes back to why I'm a huge fan of Rulebook to begin with (

[2018-05-04 17:41] Clayton7510 commented on #127
I think in the case of stop on failure, the exception should automatically be thrown up the call stack. I think that makes sense.

[2018-05-04 17:53] Clayton7510 commented on #79
I think first, have it work in the Rules - add it to the interface and put the functionality in GoldenRule so that when the "when" condition was not true, an OrElse action would fire. Then, the DSL could be modified to streamline building the OrElse action. Finally, an @OrElse annotation should be added for POJO rules.

I also think that OrElse should only support a single action, whereas Then sup

[2018-05-07 01:29] Clayton7510 commented on #127
I need to amend my last statement a little bit. If I changed to it automatic then that would break compatibility with previous versions and I don't think a major version update is needed for this. So, instead, I am adding a new RuleChainActionType of ERROR_ON_FAILURE, which would throw back up any exception encountered while running a rule.

[2018-05-07 11:35] rizjoj commented on #127
Does it work if the exception is also thrown in the @When method? If so, then that works

[2018-05-07 12:26] Clayton7510 commented on #127
Yes, it would throw an exception if it occurred in the "when" method or in any "then" method. I'll put in some tests to prove that out. But that's the direction I was going with it.

[2018-05-09 02:41] Clayton7510 commented on #127
I have to amend my previous statement. The default behavior is still CONTINUE_ON_FAILURE. So, basically exceptions in rules just trigger the next rule in the chain (they are logged, however). But, if you specify ERROR_ON_FAILURE when creating a rule, either in the constructor, in the create() method of the rule builder or as the value of the ruleChainAction in the ```@Rule``` annotation, then any

[2018-05-09 03:02] Clayton7510 commented on #79
Else is coming to Rules. v0.11 is targeted for Else rules at the moment.

[2018-05-15 13:35] Clayton7510 opened #136 "RuleBean does not have an 'order' or 'ruleChainAction' parameter"

[2018-05-20 02:05] rizjoj commented on #127
I hasn't work for me yet when I tried. I added the `ruleChainAction` to my POJO rule like so:
`@Rule(ruleChainAction = ERROR_ON_FAILURE)`

and I got a log of the stacktrace like so:

[code]
where `PricingException` is my exception thrown in my pojo rule's `then` method.

So, I got an `InvocationTargetException` instead of a `RuleException`. Could the NullPointerException in `RuleAdapter.java:284`

[2018-05-24 13:06] nikro412956 opened #137 "getting class not found exception on initializing a rulebook"
i am trying to create a rulebook but i get class not found exception on CoRRuleBook.
i don't know if i am causing it myself or not.
here is my error log.
[ruleBook Error log.txt](https://github.com/rulebook-rules/rulebook/files/2035413/ruleBook.Error.log.txt)

this is how i am initializing the rulebook:
`RuleBook ravineSupportsRuleBook = RuleBookBuilder.create(RavineSupportsRuleBook.class)

[2018-05-24 13:53] lanegoolsby commented on #111
@joannbrereton, the examples for using @Rule and @RuleBean do not seem to work with Spring Boot apps. However, if you annotate your rule with _both_ annotations things seem to work as shown in the examples.

[2018-05-24 14:46] nikro412956 commented on #137
i just fixed the issue.
it was entirely my fault.
my jar wasn't being build correctly.

[2018-05-24 14:46] #137 closed

[2018-05-24 16:42] rizjoj commented on #127
@Clayton7510 I think I've narrowed it down for POJO rules via the debugger. Since `AbstractRuleBookRunner` wraps the `GoldenRule` in a `RuleAdapter`, when the POJO rule's (in my case) `@Then` method throws a custom exception, it gets caught by `RuleAdapter`'s catch clause (which logs the error) and does not propagate it to `GoldenRule`'s catch clause. I'm currently stuck as getting `RuleAdapter`'s

[2018-05-24 20:58] lanegoolsby commented on #111
I was able to get dependencies autowired into the rules by adding both Rule and RuleBean annotations to the rule class. It appears that RuleBean does not implement the Rule interface so the reflection query does not pick them up.

[2018-05-25 01:16] Clayton7510 commented on #127
I thought that was sorted in the latest SNAPSHOT release. But if you are seeing something different then I’ll revisit the tests.

Thanks,

Clayton Long

[2018-07-05 19:48] lispercat opened #139 "multiple typed rule"
Maybe the functionality is already there, probably I just need an example.
Let's say it's easy do do following:
a->(rules-1)->b
c->(rules-2)->d
How about if I need something like
ac->(rules-1/2)->bd
Sure, I can create a new class that combines a and c types, but probably there is a way already do use the existing functionality with the existing domain classes. Thanks!

[2018-07-11 12:43] Clayton7510 commented on #139
Are you talking about combining RuleBooks? You could, of course, have a RuleBook that has rules-1 and rules-2 added in sequence.

[2018-07-25 17:33] VasuBhaskar opened #140 "when creating rule with RuleBuilder.create() there is no option to specify order id"
may be i am missing something, but as far as I see, there is no option to specify rule order when creating rules with RuleBuilder.create().

Or is it like rules will execute in the order they are added.

[2018-07-30 15:33] mgrouch opened #141 "Create Kotlin DSL for writing rules"
Kotlin DSL can provide much cleaner syntax than pure Java,
It would be nice to have Kotlin DSL build on top of RuleBook,

Thanks

[2018-07-30 18:31] mgrouch opened #142 "adding asAuditor() to megabank Sample application doesn't produce Audit"
adding asAuditor() to megabank Sample application doesn't produce Audit

[code]

[2018-07-31 14:15] VasuBhaskar commented on #140
@Clayton7510

[2018-08-23 16:34] Yjuq opened #143 "SLF4J - Logging | Question"
Hey, you use intern the SLF4J Logging Framework right? How I can disable the Logging? I don't need the informations in my console - I have other things to output there.

Oh - and I get the following output for some reasons:
`SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#Stati

[2018-10-16 17:44] ritikajain192 opened #144 "Define rules outside? Minor release? #helpwanted"
Hello @Clayton7510 , I read in one of the comments/descriptions that with a new minor release, rules can also be defined outside the java code, when will the release be available?

Regards,
Ritika

[2018-10-29 12:18] xPlutox commented on #127
I would also love to see this feature in Rulebook, the "continue on error" behaviour wil now swallow exceptions and hide possible development errors.

[2018-11-09 21:15] Clayton7510 commented on #141
Not opposed. But Groovy is in the plans.
So, if someone wants to write a Kotlin DSL, by all means.

[2018-11-09 21:16] Clayton7510 commented on #139
Closing due to inactivity.

[2018-11-09 21:16] #139 closed

[2018-11-09 21:17] Clayton7510 commented on #140
Sorry, I must have missed this one. The rules are in the order in which they are added.

[2018-11-09 21:19] #141 closed

[2018-11-09 21:19] Clayton7510 commented on #142
Hmm... I'll look into this and update the example to show auditing with Megabank example.

[2018-11-10 19:30] VasuBhaskar commented on #140
Thanks a lot @Clayton7510

[2018-11-14 12:41] Panthro commented on #111
What's the stage of this? I'm currently trying to get my rules to get @components injected and there's no way.

Is there an example somewhere to get this to work?

thanks

[2018-11-20 16:42] Clayton7510 commented on #127
@xPlutox and @rizjoj
I think I sorted the issue. The tests I had for errors bubbling up when ruleChainAction = ERROR_ON_FAILURE were only testing when an error occurred in the "when" and not the "then." In addition, the errors were buried under a couple of rethrows due to RuleAdapter, which made it difficult to determine the actual error thrown. So, I just submitted an update, which is now in rule

[2018-11-20 18:18] #119 closed

[2018-11-20 18:20] Clayton7510 commented on #144
Closing since this is discussed in Issue #9 and Issue #84.

[2018-11-20 18:20] #144 closed

[2018-11-21 01:34] Clayton7510 commented on #111
No PRs for this fix. I am cleaning up a few outstanding bugs at the moment. Once that's done, the focus will be Spring enhancements, including this feature.

[2018-11-21 02:13] Clayton7510 commented on #142
Ok, I checked out the example. And you're right, it was never setup for auditing. A RuleBookAuditor is a decorator for a RuleBook that allows AuditableRules to be added. Since HomeLoadRuleBook is not a RuleBookAuditor, when it adds rules, they cannot be tracked for Auditing. In addition, there isn't currently any good way to audit rules created using the defineRules() method. I guess I didn't real

[2018-11-21 03:33] Clayton7510 commented on #142
I just pushed a small update to 0.11-SNAPSHOT. The code below shows how the MegaBank example that defines the rules in the defineRules method can audit its rule execution.

[code]
public static void main(String[] args) {
    RuleBook homeLoanRateRuleBook = RuleBookBuilder.create(HomeLoanRateRuleBook.class).withResultType(Double.class)
      .withDefaultResult(4.5)
      .build();

    NameValueRef

[2018-11-21 03:36] Clayton7510 commented on #142
Something to note is that when using the RuleBuilder to build rules, withName() makes the Rule auditable. So, in the context of a RuleBookAuditor, any Rule created using withName() will be audited.

[2018-11-21 08:37] xPlutox commented on #127
Ran my tests, works like a charm.

[2018-11-21 14:15] Clayton7510 commented on #123
Closed due to inactivity

[2018-11-21 14:15] #123 closed

[2018-11-21 14:16] Clayton7510 commented on #127
Glad to hear it.

[2018-11-21 17:36] Clayton7510 commented on #111
@Panthro actually, there is an update in v0.11-SNAPSHOT that allows components to be @Autowired inside of Rules. Check out the com.deliveredtechnologies.rulebook.spring.SpringAwareRuleBookRunnerTest. I think that might be what you are looking for. There is currently nothing available for Weld, however.

[2018-11-21 19:05] Clayton7510 commented on #111
I put an very trivial example here: https://github.com/rulebook-rules/rulebook#5-using-rulebook-with-spring. But it demonstrates the use.

[2018-11-22 14:13] Clayton7510 commented on #111
This was a pretty recent contribution from @rizroj. So, it's only in the 0.11-SNAPSHOT until the next release (within the next week). Up until that contribution, rulebook- spring didn't really offer much beyond a few things for convenience. Now, with SpringAwareRuleBookRunner, rulebook- spring is needed to have Spring injectable rules. Sorry for the confusion. I updated the Spring section in the r

[2018-11-23 20:31] Clayton7510 commented on #25
OK, this on deck next after the 0.11 release (ETA next week). And some changes are necessary. If you are an old-skool user of RuleBook and you are using the Java Builder DSL and adding fact values directly to rules and invoking those rules using rule.invoke() then things are going to change a bit. I think the given() method in the builder is going to have to change to specify the facts declared fo

[2018-11-26 23:14] rizjoj commented on #127
Hi @Clayton7510, sorry to burst the bubble but I had some time to test this and I'm still not getting the ERROR_ON_FAILURE working.

One thing I noticed is that while the develop branch had updates related to this issue in the RuleAdapter class: specifically lines 292-294 and 312-314 (the if ERROR_ON_FAILURE condition in the catch clause; commit sha f2e4f815975b063c75fcb6c5952fd2779da62f04), my ma

[2018-11-27 03:39] Clayton7510 commented on #127
@rizjoj I wasn't able to duplicate that. Here is a project (under the examples in the release/v0.11 branch) that I created to test it out: https://github.com/rulebook-rules/rulebook/tree/release/v0.11/rulebook-examples/megabank-exception-breaks-rulechain

I am using the 0.11-SNAPSHOT maven dependency from SonaType's SNAPSHOT repo.

Of course, I could be missing something.

If you are still seeing

[2018-11-29 01:42] #127 closed

[2018-11-30 22:07] #111 closed

[2018-11-30 22:08] Clayton7510 commented on #79
Actually, it's looking more like v0.12

[2018-12-04 20:10] Clayton7510 commented on #142
Closing due to inactivity

[2018-12-04 20:10] #142 closed

[2018-12-13 07:39] Panthro opened #150 "Why not scanning subpackages"
Currently (v0.11) the code of `RuleBookRunner` has this code:

[code]

Why are the scanning limited to the exact same package?

That's not an expected behaviour, and it takes a lot of time (debugging) to understand why your rule rule is not being loaded.

I know is probably for performance, not to load all classes at startup time, but wouldn't it be better just to recommend people to have rules in

[2018-12-13 12:32] Clayton7510 commented on #150
I think the thought was that subpackage would be considered a separate package, and, therefore would not be loaded. No reason why subpackages couldn't be scanned, tho. Perhaps default behavior could be to scan only the package specified with an option to scan subpackages?

[2018-12-14 11:20] Panthro commented on #150
I would expect the default behaviour to scan sub packages, just like a spring `@ComponentScan` would do, with the option to disable subpackage scanning.

I believe is harder to find the issue of NOT SCANNING then scanning too much :-)

[2018-12-14 14:15] Clayton7510 commented on #150
Fair point.
Agreed. Subpackages should be scanned by default with an option to disable.

[2018-12-14 16:57] Clayton7510 commented on #150
Updated in 0.12-SNAPSHOT.

[2018-12-29 11:02] dbucek opened #152 "Auditor marks rule EXECUTED despite it wasn't"
I wanted to use auditor for checking which rules were executed. I build one instance of rules and run several facts against it in cycle. But each run the audit is not cleared but still remember which rules were executed from previous cycle. Shouln't be staleless between calling .run(facts) on RuleBook? Thanks.

[2019-01-02 20:51] Clayton7510 commented on #152
.run(facts) is stateless. However, perhaps there is an issue with auditor when it is not. I'll check on that. I assume you are using RuleBookRunner w/POJO rules?

[2019-01-02 20:59] Clayton7510 commented on #152
Looks like there may be an issue where rule status doesn't reset in the auditor. Normally, I don't think this would be an issue, except when the auditor is the same as the RuleBook, which is the case with RuleBookRunner. Thanks for finding this issue. I'll get it corrected shortly.

[2019-01-07 09:34] gokuljeyapaul opened #153 "Multiple @when to @then in a single rule"
This is more of a question rather than an issue.

Case:

I have a need to write rules based on two POJO objects.

The first POJO has a `age_category` field which is a bunch of `enum` - example- the `age_category` can take `UNDERAGE`, `ADULT`, `TEENAGER`, `SENIOR-CITIZEN`

The second POJO has a `eligible_activity` field which is again a bunch of `enum` - example - the `eligible_activity` can take `

[2019-01-12 15:27] Clayton7510 commented on #153
Multiple thens in a rule should work. Multiple whens in a rule would not work since a rule's execution is defined by the result of its when (condition).

[2019-01-15 02:24] #150 closed, assigned to Clayton7510

[2019-02-04 23:14] peddadap opened #155 "RuleBooK Run method seems to be invoking scanning of pojo rules for every run call"
We are experimenting RuleBook with Spring Batch, as part of flow, the RuleBook "run" method gets invoked for every records in the ETL  in "T" phase for fltering, what we have observed  #  Rules are not caching  POJOs that have been swept during initial screening process, causing the "run" method to scan for POJOs every time, this is adding significant latency to the overall computation.

[2019-03-14 09:26] do0ominik opened #156 "Set Default RuleChainActionType to ERROR_ON_FAILURE"
It would be nice, if I could change the default RuleChainActionType to "ERROR_ON_FAILURE".
Sometimes it happens that I forget to set the RuleChainActionType explizit on the @Rule-Annotation.

[2019-03-18 14:02] ramchris opened #157 "Inheritance in rules!!"
We have a set of common rules to be applied along with all the business rules which are different. We have the common rules in *.rulebook.common package and other rules are in *.rulebook.sellingChannel package. How can I create SpringAwareRuleBookRunner instance that is created from both the packages?  Do I have to override the SpringAwareRuleBookRunner class?. Any hint is appreciated?

[2019-03-25 19:34] Kurry opened #158 "Allow Passing A Function For Default Result Type"
It would be nice to be able to pass a function to the method `withDefaultResult`, that way you can construct the default result using the rule book argument type. How I'm using the rule book is to construct an object, given a set of rules.

This is what I currently have:

[code]

[code]

What I would like to do is:
[code]

[2019-04-03 21:44] duttkin opened #159 "STOP_ON_FAILURE not working for POJO rules"
I am using version 0.11 and the STOP_ON_FAILURE  is not working for POJO rules.  I created a simple rule to validate, see below.  When the exception is thrown, not only does the next rule in the chain execute but the auditor marks it as executed.

@Rule(order = 2, ruleChainAction = RuleChainActionType.STOP_ON_FAILURE)
public class Rule2 {

	@Given("myInput")
	private String input;

	@Result
	priva

[2019-04-11 11:53] yuwong commented on #155
observing the same, with a defined `SpringAwareRuleBookRunner`, and the ruleBook `@Autowired` into the service, we're seeing as many `org.reflections.Reflections` logging messages as the times it runs

[2019-04-26 14:10] agnibha92 commented on #54
Still Facing The Same issue in 0.11. I am currently using POJO Based Rules and the runner skipped the method marked with @When annotation and Directly Called @Then

[2019-04-26 14:17] agnibha92 commented on #54
[code]

This code is returning no methods.

[2019-04-27 05:01] agnibha92 commented on #54
I Used The When Method as a private method, because of that the problem arrived as `getMethods()` returns only public method. Is there any reason why `getDeclaredMethods()` was not used?

[2019-04-28 05:00] Clayton7510 commented on #159
Thanks for raising this. I'll check it out this weekend. My apologies for the delayed response - life events. :/

[2019-04-28 05:13] Clayton7510 commented on #158
You can just omit the 'when' in the builder.

Based on what you are trying to do, something like this should work:

[code]
I haven't actually run it yet, but it should work. And I think it looks pretty close to what you are asking for, no?

I'll validate it by running sometime tomorrow.
Apologies for the delayed response.

[2019-04-28 05:16] Clayton7510 commented on #157
Hmm... I think you can do that. Let me put something together and check it out tomorrow and I'll post back shortly.
Apologies for the delayed response.

[2019-04-28 05:19] Clayton7510 commented on #155
Hmm... I haven't tried it with Spring Batch, yet. But reflection is used to map POJO rules into rule classes. I'll check it out this week. Thanks for raising this.

[2019-04-28 05:23] Clayton7510 commented on #156
This has gone back and forth a bit. Initially, there was no ERROR_ON_FAILURE - a rule failure was treated like an unevaluated rule. That seemed to be the preference for most. However, then a few people said they wanted an option to treat errors in rules differently than unevaluated rules. So, ERROR_ON_FAILURE was introduced.
Since it seems like the common case for many is to treat errors in rules

[2019-04-28 05:24] Clayton7510 commented on #152
Looks like this dropped off the radar. Back working on it ;)

[2019-04-28 12:52] Clayton7510 commented on #153
Closing due to inactivity.

[2019-04-28 12:52] #153 closed, assigned to Clayton7510

[2019-04-29 06:37] do0ominik commented on #156
Thanks for your reply.
I would suggest to provide a method like "setDefaultRuleChainActionType(...)".
Currently we did a pre-compile step in order to force a build fail on missing rulechainactiontype specification.
We had a few problems because there was an exception in one of our rules and nobody has noticed because the rule was "ignored/skipped".
We are fine now but I think it would be nice to g

[2019-04-30 11:33] Clayton7510 commented on #156
So, when you setup the RuleBookRunner, you can also specify a default rule chain action? I like it. I should be able to get that in within the next couple of weeks.

[2019-04-30 11:43] Clayton7510 commented on #157
So, presently you can't do two completely disjointed packages. However, you could do something like this.
com.mydomain.rules.corerules <- contains a common set of rules
com.mydomain.rules.somerulebook <- contains a set of rules specific to somerulebook
com.mydomain.rules.someotherrulebook <- contains a set of rules specific to someotherrulebook

If you created a RuleBookRunner like this:

RuleBook

[2019-04-30 11:54] do0ominik commented on #156
Thank you! That would be great.

[2019-05-15 03:23] Clayton7510 commented on #156
Should be up this week. Gotta do a release on another project tonight/tomorrow and then this is updated next.

[2019-05-21 17:22] jlerbsc opened #160 "How to reset result"
Could you tell us how to reset result between every rule execution. We don't want to accumulate results for each rule execution. Below an exemple of the rulebook creation we use.

    RuleBook<RuleBookExecutionContext> ruleBook = (RuleBook) RuleBookBuilder.create()
				.addRule(new VerboseRuleAdapter(RuleBuilder.create().withFactType(StringLiteralExpr.class)
						.withResultType(RuleBookExecution

[2019-05-23 06:42] jlerbsc commented on #160
No response so i setup in this exemple a new RuleBookExecutionContext before each rule call to the invoke method. Thanks to the adapter design pattern.

[2019-05-25 18:28] mikelear opened #161 "I'd like to have a RuleRunner but add Rules one by one"
Hi , is it possible to have a RuleRunner but only add Rules individually , so instead of scanning a package  you add the POJO Rule by calling something like .addRule( Rule ).
I've done this using CoRRuleBook and then RuleAdapter but the Rule isn't Audited so it looks like I will have to create another RuleRunner , seems like this might be something worth adding. Happy to do this but just wanted to

[2019-05-25 21:27] mikelear commented on #161
Looks like there is in fact an easy way to do this

// Were the class FirstName is a POJO Rule @Rule
AuditableRule auditRule = new AuditableRule( new RuleAdapter( new FirstName() ) );
RuleBook ruleBook = new RuleBookAuditor<>( new CoRRuleBook<>());
ruleBook.addRule(  auditRule );
Auditor auditor = (Auditor)getCase( id ).ruleBook;
ruleBook.run( facts );

happy to write an example if people think th

[2019-05-26 09:11] #161 closed, assigned to nobody

[2019-05-27 14:45] victoraugustofd opened #162 "Can I make Spring aware non-POJO ruleBooks?"
Hi,

I'm trying to make a Spring Boot application that aware some custom books that I created.
These books aren't POJO Rules, but the classes are inherited from CoRRuleBook, for example.

Is this possible?
I have tried using SpringAwareRuleBookRunner, passing my package as parameter.
My last try was to create a bean of RuleBookRunner type, passing my package as parameter, but it didn't work.

Than

[2019-06-16 15:35] mikelear commented on #159
Hi did you get chance to look at this , I've been trying to setup some examples to show the Rule flow and when I create some simple examples (similar to above) it looks like (with POJO rules) that the RuleChainActionType isn't working as expected.
I can provide some examples if needed

[2019-06-17 13:40] Tamir-Schwarz opened #163 "Question regard ERROR_ON_FAILURE"
Hi,
I am trying to set rule to throw exception on failure,
i followed the [documentation](https://github.com/deliveredtechnologies/rulebook#36-rule-chain-behavior) but it seems the rule still gets it default CONTINUE_ON_FAILURE.

I tried to debug  it, on the _when_ phase the _GoldenRule_  is created again, but this time with the default RuleChainActionType (_CONTINUE_ON_FAILURE_) instead of my par

[2019-06-19 14:40] Clayton7510 commented on #160
Sorry about the delayed/lack of response. You can specify when results are updated and a result can hold any kind of object. You can also add/update facts as you choose in the rule chain.

[2019-06-19 14:43] Clayton7510 commented on #161
Yep, that should do it. POJO rules are auto loaded by a RuleBookRunner. But you can also add POJO rules to RuleBooks manually as you pointed out - RuleAdapter adapts a POJO rule to a rule that could be used in any RuleBook.

[2019-06-19 15:40] jlerbsc commented on #160
Thanks for your response but could you elaborate how to specify when results are updated ?

[2019-06-20 19:59] harshavs opened #164 "RuleStatus should be different than PENDING when RuleChainActionType.ERROR_ON_FAILURE"
When RuleChainActionType.ERROR_ON_FAILURE is enabled and a rule fails, the RuleStatus is still PENDING. A meaningful status like ERROR is very helpful to find the Rule that errored out. Currently, the rule that errored out and all other rules after it have PENDING as status, making it difficult to debug.

[2019-07-12 12:34] mikelear commented on #159
hi @Clayton7510 just checking if you had chance to look into this , if not I'll have a look over the weekend

[2019-07-16 12:11] #164 closed, assigned to nobody

[2019-07-16 12:27] Clayton7510 commented on #160
Results are optional in the 'then.' You can also can have conditional logic logic that determines how and if they are set.

For example:

[code]

The above rule has no result.

[code]

The rule directly above only updates the result if the 'when' condition is satisfied.

[2019-07-16 13:28] jlerbsc commented on #160
Thanks for the explanation.

[2019-07-22 23:42] #159 closed, assigned to Clayton7510

[2019-07-22 23:45] #160 closed, assigned to nobody

[2019-07-22 23:52] Clayton7510 commented on #162
You can create a RuleBook class that is annotated for Spring. POJO rules are just little more Spring-y by nature. You can also specify your own RuleBook bean in your Spring config. That would probably be the way to do it. Make sure you specify the bean name in your injections if you are just using an instance of CoRRuleBook so that you can correctly identify it.

SpringAwareRuleBookRunner is reall

[2019-07-22 23:52] Clayton7510 commented on #163
I've been out of town for a bit. I'll check this out shortly, run it and respond.

[2019-07-31 14:42] mikelear opened #167 "Auditing Rules when defining them through an Object with defineRules"
Hi @Clayton7510 before I keep digging further could you clarify , that I'm not missing something or doing something wrong.

If you look at the test

ruleBookAuditorCanAuditRules

it checks that the Rules are correctly Audited. But I'm trying to Audit Rules that are defined in a Class with defineRule overridden.

So if I create a similar test but instead write this

 RuleBook rulebook = RuleBookBui

[2019-08-01 15:28] mikelear commented on #167
I've create a pull request #168

That I think solves this issue , the SimpleRuleAdds class has to extend RuleBookAuditor and you have to have a constructor that create the RuleRunner.

I've added a new test in RuleBookAuditorTest that shows this working (with some changes to pass the Audit Map).

[2019-08-07 16:48] Panthro opened #169 "SpringAwareRuleBookRunner is not Thread-safe"
In a multi thread environment (which usually is the case when creating apps with spring) the `SpringAwareRuleBookRunner` can create all sorts of problems.

In #53 `RuleBookFactoryBean` was recommended and now is deprecated (without docs on how to replace it)

I'm currently using the `SpringAwareRuleBookRunner`, but I have to create a new thread for each rule book execution or input and outputs are

[2019-08-09 19:41] Clayton7510 commented on #167
Cool, I'll check it out. Thanks.

[2019-08-12 23:50] allenvpn312 commented on #157
Hi Clayton,

The example above does not work for me.  I am using ver 0.11.  The RuleBookRunner has 2 constructors.

1. RuleBookRunner(String)
2. RuleBookRunner(Class <? extends RuleBook>, String)

I don't see a <String, String> constructor.  Please advise.

Thanks

[2019-08-13 16:37] Clayton7510 commented on #157
My apologies. I was working with the 0.12-SNAPSHOT version. In that version you can specify matching subpackages that can be included in the POJO RuleBook (i.e. RuleBookRunner). Here is an example.

Look for 0.12-SNAPSHOT to be published as a release to Maven Central soon.

[example.zip](https://github.com/deliveredtechnologies/rulebook/files/3497971/example.zip)

[2019-08-13 16:40] allenvpn312 commented on #157
Awesome!  I love RuleBook, please keep up with the great work.

Thanks.

On Tue, Aug 13, 2019 at 11:37 AM Clayton Long <notifications@github.com>
wrote:

--
Regards,
Allen

[2019-08-14 00:14] Clayton7510 commented on #169
SpringAwareRuleBookRunner is a context aware extension of RuleBookRunner, which is thread safe. If I'm understanding your situation correctly, it sounds like you are creating a SpringAwareRuleBookRunner and running it multiple times in the same thread where it is updating the facts supplied and overwriting the result? If that's the case, then that is expected behavior. If instead, you would rather

[2019-08-14 00:16] #157 closed, assigned to Clayton7510

[2019-08-14 00:18] #162 closed, assigned to nobody

[2019-09-04 22:22] jaschenk opened #170 "Question: Does rulebook have ability to read rules from external sources such as a yaml file?"
Question: Does rulebook have ability to read rules from external sources such as a yaml file?

[2019-09-07 07:26] sligotri opened #171 "Get all rules"
Is there a way to retrieve all rules that have been added to a rule book? Something like rulebook.getRules() ? Should I just extend CoRRuleBook and implement my own?

[2019-09-12 11:05] holken1 opened #172 "Can't add new facts in POJO rule"
Hi.
When using POJO rules, how can I add facts in one rule that can be used by a subsequent rule in the same ruleset?

I saw in the FAQ that "If a fact is changed or added in a Rule then that change or addition is present for other Rules down the rule chain." But if I specify a @Given for something that is not yet defined, it throws an error*. And it's not clear how I could create a new NameValueR

[2019-09-16 08:08] holken1 commented on #172
Could this be a bug? I noticed that declaring a fact works but as soon as I try to get or set it, it fails. I'm attaching a very simple example that shows this behavior, and fails even though I think it should run.
[non-working-example.tar.gz](https://github.com/deliveredtechnologies/rulebook/files/3615216/non-working-example.tar.gz)

[2019-09-17 21:41] BrianDeacon opened #174 "ClassCastException in RuleAdapter for Wildcarded collections"
I made a PR with a fix that also describes the issue.

https://github.com/deliveredtechnologies/rulebook/pull/173

The short version is that `RuleAdapter.mapFactsToProperties` would hit an exception trying to hard-cast a genericized parameter type to `Class<?>` when it's really `WildCardType` or `TypeVariable`.  The problem is caused by a `@Given` with no name that is a Collection type of a wildca

[2019-12-19 13:40] willks opened #175 "Q: RuleBean execution results in full scan?"
Hi,
  Just a small question - but does every invocation of "SpringAwareRuleBookRunner" result in a full package scan? These are the logs I am seeing:

[code]

Just a question.

Thanks for a nice framework for rules

[2020-01-01 22:38] asasisekar opened #176 "Help : How to execute CoRRuleBook rules using SpringAwareRuleBookRunner"
Hi,

We have defined the rules by extending the CoRRuleBook as below and created the bean using SpringAwareRuleBookRunner. When executing the rule, results are set as null. Within the CoRRuleBook, results was set as expected but AbstractRuleBookRunner was not considering the results.

[code]

[code]
Is SpringAwareRuleBookRunner only supports the POJO rules? Is there a way to execute the CoRRuleBoo

[2020-01-03 21:34] jsteinbrunner opened #177 "0.12 release question"
Hello @Clayton7510 ,

I have been evaluating this project and it looks great - I really appreciate all your contributions!

I had noticed a bug in the 0.11 release that has been fixed, but not yet released.  I was curious if there were any plans to do another release since the latest one was awhile back.

Also, I noticed there hasn't been a lot of activity on the project and was curious if you fel

[2020-01-15 05:29] azell commented on #177
I would also welcome a 0.12 release.

[2020-01-15 06:42] azell commented on #155
Has there been any progress?

[2020-01-15 06:44] azell opened #178 "Update reflections dependency to 0.9.12"
We have seen multithreaded exceptions with reflections 0.9.10 likely due to https://github.com/ronmamo/reflections/issues/81 .  The bug appears to be fixed in 0.9.12.

[2020-01-17 04:04] azell commented on #177
@Clayton7510 Could you take a moment and let us know the direction of the project?  I would like to contribute to rulebook and use it internally and would appreciate any roadmap you have in mind.  Thanks!

[2020-01-21 18:06] nitinsridar opened #179 "Rules Book engine behaves differently on same input"
Implementing rules engine service using Spring boot.
Every time If I hit the API with the below request I'm seeing different responses.
The first 5 times it is behaving as expected then if I start sending requests continuously for every 10ms then responses are different and it continues to behave weird.

    <dependency><groupId>com.deliveredtechnologies</groupId><artifactId>rulebook-spring</artif

[2020-01-22 21:33] Clayton7510 commented on #155
Not yet.

[2020-01-22 21:36] Clayton7510 commented on #179
Can you attach the code that is having the issues? It would be helpful to see how you configured it. That way, I can determine if it's an issue with how the state is managed across threads or the spring config or something else.

[2020-01-22 21:38] Clayton7510 commented on #177
I was waiting on an update to a PR for the 0.12 release. But you're right, it's been a while. So, I'll probably just end up making the update on my own, merging and cutting a 0.12 release.

[2020-01-22 21:44] Clayton7510 commented on #177
As far as the direction... I want to add an additional algorithm, so that it becomes clear how to extend RuleBook and so that there are additional options available. I also want to update it to Java 11. That would probably be v1.0.

Afterwards, I'd be looking to add Groovy or Kotlin DSL support in externally loaded scripts.

[2020-01-22 21:46] Clayton7510 commented on #176
Not with the runner class. The runner's function is to create a RuleBook from annotated pojo rules.

[2020-01-22 21:48] Clayton7510 commented on #175
Yes, it does. This is done for thread safety. Although, perhaps there is a more elegant way to solve the problem.

[2020-01-25 21:08] brunoboassi opened #180 "Multiples Rulebooks some application"
Hi guys,

First, sorry my bad english, I will try explain my problem.

I have one application with four flux and each flux need one rulebook. I wanna know how I implement this. I use the Pojo mode today and the only way I was think is using  Qualifier and instanciate 4 rulebook object.

Some better idea?

[2020-02-04 00:00] Clayton7510 commented on #178
Thanks! I'll get it updated.

[2020-02-04 00:02] Clayton7510 commented on #175
I'm looking into switching this to a single scan. But the instantiation of the POJOs that are found in the scan will still take place on every run and there is a little reflection involved there since it transforms a POJO class representation into a Rule via an adapter.

[2020-02-04 00:56] Clayton7510 commented on #178
I tried updating to 0.9.12, however there are breaking changes in 0.9.12. So, I guess it's staying on 0.9.10 until the next release.

[2020-02-04 00:56] #178 closed, assigned to nobody

[2020-02-04 01:02] Clayton7510 commented on #155
I have an update pushed in 0.12-SNAPSHOT that ensures the same RuleBookRunner doesn't scan the specified package more than once. If you want to check it out and respond back or if you want to attach your code to evaluate against the fix... either way, there should be something there.

[2020-02-04 01:03] Clayton7510 commented on #175
There is an update in 0.12-SNAPSHOT that has a fix for this.

[2020-02-04 06:30] azell commented on #178
Perhaps a quicker fix would be to synchronize calls to reflections until an upgrade to 0.9.12.

[2020-02-04 14:02] Clayton7510 commented on #180
You can use the POJO rules with the RuleBookRunner or the Java DSL to create a RuelBook. Or you could extend a RuleBook implementation (CoRRuleBook is currently packaged in the rulebook-core lib). Any of those approaches is practically the same as they all end up creating a RuleBook object.

[2020-02-04 14:07] Clayton7510 commented on #177
BTW, you don’t have to bite off a big chunk to contribute. Any of the issues not currently assigned are available for work. You can respond to issues, fix a bug or submit your own issues.

[2020-02-04 16:16] Clayton7510 commented on #176
Did that response answer your question?

[2020-02-04 16:17] #174 closed, assigned to nobody

[2020-02-04 16:19] Clayton7510 commented on #172
I think you are correct. I don’t think a given for a fact not defined is propagated down the rule chain - seems like an oversight.

[2020-02-04 16:21] Clayton7510 commented on #171
There is no way to get all rules since the rules are linked together in a chain using Chain of Responsibility Pattern, currently. However, as you pointed out, you could implement your own RuleBook.

You can get a list of all the rule names and their statuses using an Auditor.

[2020-02-04 16:23] Clayton7510 commented on #170
Not presently. However, you could achieve something similar through dynamic class loading of Java rules. There is a pending feature for a Groovy Script or Kotlin Script DSL as an option for externalizing rules.

[2020-02-04 16:24] Clayton7510 commented on #167
I pulled over your code, merged it and gave your attribution in the POM. Thanks!

[2020-02-04 16:24] #167 closed, assigned to nobody

[2020-02-09 03:43] azell opened #183 "Downgrade reflections to 0.9.9 due to multithreading issues"
Unfortunately https://github.com/deliveredtechnologies/rulebook/issues/178 is not a drop-in change and I am not aware of an upcoming release.

Therefore an alternative fix is to downgrade the reflections library from 0.9.10 to 0.9.9.

This has been implemented with success as mentioned in https://github.com/ronmamo/reflections/issues/81 .

[2020-02-13 12:57] jimmymain opened #184 "rule book runner incorrectly eats exceptions so buggy code is not caught."
The below code that sets the @Result field in a POJO class logs the exception **Unable to set result field in**...

But the invalid result is returned and the rule runner does not indicate in any way that it is broken.
The exception should be propagated, not just logged. At least add a state variable or something to the rule engine so that when it's complete we know it's broken.

I understand that

[2020-02-20 20:32] allenvpn312 commented on #175
@Clayton7510 is there a way to turn off scan logging?

[2020-02-25 06:28] azell commented on #177
Pull request: https://github.com/deliveredtechnologies/rulebook/pull/185

[2020-02-26 21:15] Clayton7510 commented on #183
Will get it done shortly. Thanks!

[2020-02-26 21:17] Clayton7510 commented on #184
Looks like a bug on the face of it. A PR would be welcome. Thanks.

[2020-02-28 11:57] willks commented on #175
Sorry I didn't post this earlier. I worked around it before the 0.12-SNAPSHOT was posted. This is my code in Kotlin for setting up my rules. They have to be added in order of execution:

[code]

This will avoid full scans, but the onus is on setting up order properly. Everything worked well. We're running these rules potentially hundreds/thousands of times per second through Kotlin Coroutines. It'

[2020-02-28 12:39] willks commented on #175
@Clayton7510 With all that said, I found a work-around. I think we can close this issue out from my perspective.

[2020-02-29 07:40] jimmymain commented on #184
https://github.com/deliveredtechnologies/rulebook/pull/186

[2020-03-13 15:24] TheDeadOne opened #187 "Why withDefaultResult is mandatory?"
It would be convenient to get an empty Optional if no rules were executed.

[2020-03-19 07:13] ralenmdp commented on #155
Any progress?

[2020-04-10 06:54] azell commented on #183
https://github.com/deliveredtechnologies/rulebook/pull/189

[2020-04-20 13:40] awattez commented on #155
Hello,
I tried with the latest version of develop (https://github.com/deliveredtechnologies/rulebook/commit/a98cbc8de45da252c5c44c4afbe7fac2b103d1b0).
The reflection takes place during each `GET` call on `/greeting`.

[code]

I don't think the latest version addresses the potential performance problem.
I provide you with a simple example with Spring Boot 2.2.6 here (https://github.com/awattez/rule

[2020-04-20 14:44] ralenmdp commented on #155
Same here, I'm experiencing it on version 0.11, for now what I did is this.

[code]

[2020-04-21 04:48] azell commented on #175
Possible dupe of #155

[2020-04-21 05:24] azell commented on #155
I think the issue is that the following line is always executed versus just once inside of the write lock:
[code]
See https://github.com/deliveredtechnologies/rulebook/pull/190

[2020-04-21 10:09] evasanthan opened #191 "How can i write dynamic rules to execute rather than writing in java program .like rules defined in JSON or Yaml?"
I liked the rulebook concept which is really great library. but

Do we have any option dynamically add rules and conditions in Yaml or JSON rather than writing all rules in POJO or programmatically?...

[2020-04-30 04:24] azell commented on #155
@Clayton7510 Anything I can do to help reviewing the pull request?

[2020-05-05 09:44] ykorobitsin opened #192 "Q: Rule as a singleton bean"
Am I correct that in case rules are defined as spring singleton beans it means that all the application threads will be blocked by the single lock in Result class?

**Or I can reformulate the question:**
1. what are the outcomes when we have rules set as singleton beans?
2. Should I defined rule beans as session scoped?

[2020-05-07 16:11] awattez opened #194 "Add the Supplier function to avoid the passage by reference for the default result"
Hello,
this is an improvement in the operation of the default result.
Indeed I carried out a test to detail my remarks.

The default result works well for primitive types, however for complex object, it cannot work properly.

The reset function does not reset to the default state. It uses the referenced value. And therefore from one execution to another the result may not be reset correctly.

The

[2020-05-08 12:07] awattez commented on #192
In `com.deliveredtechnologies.rulebook.spring.RuleBean`  you have `@Scope("prototype")`
Scope prototype means that every time you ask spring (getBean or dependency injection) for an instance it will create a new instance and give a reference to that.

If you check at `com.deliveredtechnologies.rulebook.model.runner.AbstractRuleBookRunner`

there is a call to `Object ruleInstance = getRuleInstance(

[2020-05-08 12:17] ykorobitsin commented on #192
I see the single result that keeps results per thread. Does it mean that we have single lock in result for all the application threads? Is it really optimized for all threads to wait when a single request finishes its work?

[2020-05-08 12:36] awattez commented on #192
You are right one Result, we have one `ReentrantReadWriteLock _lock` for all the application threads. But locks take place only during reading and writing (it is not exactly the same locks in reading as writing) not during the global processing.

[2020-05-08 12:43] awattez commented on #191
I do not think that this library is planned to use JSON / YAML files to configure the rules.
I also do not know if there is a RoadMap referenced somewhere, maybe this request can be registered there.
This library can probably help you https://github.com/j-easy/easy-rules

[2020-06-01 09:04] awattez commented on #194
Update ?

[2020-06-03 22:18] lospejos commented on #191
I'm not sure that library mentioned above (easy-rules) has something that this library doesn't. Both libraries has examples of dynamically created rules in runtime. Since you can create rules in runtime, you can parse rules from XML, JSON, YAML, database tables or whatever you want and create rules accordingly. The main challenge is to create a flexible rules description format (especially when yo

[2020-06-28 18:52] azell opened #195 "Should I fork?"
Greetings,

I really like working with rulebook, and would like to see more features and bug fixes in a relatively timely manner.  If resources are not available to handle pull requests, etc. would you recommend forking the project?  Thank you for all the hard work to get the project to its current state :).

@Clayton7510

[2020-07-02 03:53] leehom opened #196 "using codegen to improving performance of rule execution"
dynamic compile and codegen other than interpreting execution can improve the performance of rule execution

[2020-09-03 11:22] mohdArshad9 opened #197 "Rule name is dropping when build Rule withFactType."
If I am building a Rule .

`RuleBuilder.create().withName("Rule1")
            .withResultType(Boolean.class)
             .withFactType("fact")
            .when(facts -> true)
            .then(facts -> { } ))`

The rule name is dropping.In RuleBuilder.java line number 92 rule name is not copying from builder.

`public <S> RuleBuilder<S, U> withFactType(Class<S> factType) {
    RuleBuilder<S, U>

[2020-09-04 19:09] sahebray85 opened #198 "How to write Unit Tests for a RuleBean?"
I have created a Rule using Rule Bean, i want to write a unit test for it.
How do I test it?

@Clayton7510 ?

[2020-09-09 14:04] RicardoRdzG commented on #172
even when it should be fixed you can add facts for other rules down the evaluation chain by having the facts map as a **given**

` @Given
    NameValueReferableMap facts;`

It should be shown in one of the examples since it is a useful feature and not everybody is using lambda style

[2020-10-15 17:38] Clayton7510 commented on #195
RuleBook has development has been pretty slow. You are welcome to fork.
However, I am also going to change some things around and make easier to contribute, like automated pushes to Maven code owner approvers for merges into develop branch. In hindsight, I should have done that earlier. And this is a WAY delayed response. But if you or anyone else is interested in regular contributions, I'm happy

[2020-10-15 17:47] Clayton7510 commented on #198
If you are just talking about a single class, you can test it like it's any other POJO. If you want to test the entire RuleBook that contains RuleBeans, there are example tests, here: https://github.com/deliveredtechnologies/rulebook/tree/develop/rulebook-spring/src/test/java/com/deliveredtechnologies/rulebook/spring

[2020-10-15 17:49] Clayton7510 commented on #196
This is under consideration for a future enhancement. But probably not in the near future as usability (e.g. groovy script support) + additional algos to enhance performance on first on deck.

[2020-10-15 17:54] Clayton7510 commented on #194
Thanks for the suggestion. I like it!

[2020-10-15 18:01] Clayton7510 commented on #191
JSON, XML or YAML support is not on the roadmap. I agree that if that's specifically what you are looking for, then something like easy-rules might be worth a look.

I don't really like how that was supported in other frameworks - feels like a move away from simplicity. With that being said, there always were plans to have rules loaded at runtime that could be stored somewhere else, but rules that

[2020-10-15 18:06] Clayton7510 commented on #187
withDefault is not mandatory. Having a result was always optional.
But if you do have a result and no rules are executed then you would get the default result if you had one.

Do you think it should behave differently?

[2020-10-15 18:09] #184 closed, assigned to nobody

[2020-10-16 14:06] #194 closed, assigned to Clayton7510

[2020-10-17 05:01] TheDeadOne commented on #187
Maybe I misunderstood something, but I get an error
[code]
when I try to compile this example without commenting out the line
[code]
I don't need the default. How to get rid of it?

[2020-10-18 20:04] Clayton7510 commented on #187
Ah, so if you have a result, then yes, you need to specify a default value. However, there is no requirement for you to have a result. So, perhaps it was I who misunderstood. But am I correct in understanding now that you want to have a result, but no default result?

Presently, that is not something that's possible without a little trickery, like ```.withDefaultResult(null)``` or ```.withDefaultR

[2020-10-18 20:14] Clayton7510 commented on #195
I updated the develop branch so that 2 approvers are required on PRs, but those approvers can be any contributors, not just code owners. That should get things flowing a bit faster. I'm also going to adopt the GitHub Actions workflow from the terraform-maven [deliveredtechnologies] project, which pushes pre-release versions to Maven Central on merge into the develop branch, which should give peopl

[2020-10-18 20:18] Clayton7510 commented on #191
This thread is scheduled to be deleted on 10/22/2020. Further discussion on externalized rules can be handled in issue #9

[2020-10-18 20:25] Clayton7510 commented on #197
Yes, pls.

[2020-10-18 23:23] Clayton7510 opened #199 "Switch CI to GitHub Actions"
TravisCI is getting lax on its integration w/GitHub. And GitHub Actions are well integrated into GitHub. It's time RuleBook made the switch!

[2020-10-19 00:11] Clayton7510 commented on #199
While I'm house cleaning, I'll update the Javadocs and fix the versions in the examples.

[2020-10-20 05:00] TheDeadOne commented on #187
Yes, I want to have an empty Optional if no rules executed and no default defined, otherwise Optional of result or a default value if it was defined.

[2020-10-24 02:38] Clayton7510 commented on #199
Publishing to SonaType from GitHub Actions was a little rough. So, at the moment there are only Snapshot releases.

[2020-10-24 02:38] #199 closed, assigned to Clayton7510

[2020-11-18 22:38] bakoontz opened #201 "Deprecated classes/methods and non-compiling examples in README.md"
There are a number of deprecated warnings when using the examples in the README.  For instance, ```RuleBook<Integer>``` is deprecated, as it ```getIntVal()``` and ```getDblVal()```.  Is there an updated set of examples somewhere, or should I simply ignore these warnings?

Also, code based on this example doesn't compile due to type incompatibilities:

[code]

[2020-11-18 22:57] bakoontz commented on #201
It appears the compilation error has something to do with two RuleBook definitions in two different packages:

```import com.deliveredtechnologies.rulebook.model.RuleBook;```
```import com.deliveredtechnologies.rulebook.RuleBook;```

Please consider clarifying this in the docs, or do it the right way and give the interface a slightly different name.  Or maybe even remove the deprecated RuleBook im

[2021-01-13 03:35] danielmustafa opened #202 "Auditor not set on rules when RuleBookBuilder.create(Class) is used"
Suppose I have a class

[code]

And I want to reference that class in the RuleBookBuilder process:

`RuleBookBuilder.create(MyRuleBook.class).asAuditor().build();`

When I use the above statement, the rules inside of `MyRuleBook` do not get the Auditor value injected.  So when I try to run the rules set I get an NPE in AuditableRule#invoke (Line 100) because it tries to update the RuleStatus but h

[2021-01-14 17:00] danielmustafa commented on #202
Looking a bit deeper, I believe this is due to the fact that my class rulebook is extending CoRRuleBook, so when the rules are lazily added to the rulebook it is executing the CoRRuleBook#addRule instead of RuleBookAuditor#addRule.  However my custom Rulebook does get decorated with RuleBookAuditor like I expect.

[2021-03-23 04:58] ktalebian opened #203 "Futures/CompletionStage/Async"
How do you create a role where the condition/evaluation is async? For example, I need to make a HTTP request to verify a fact and return the result.

[2021-05-24 13:06] AlDante opened #204 "Fact checking before evaluating rules"
Hi,

I am currently trying to use RuleBook to define a bidding system for bridge. It seems well suited for this - typically a bidding system has rules such as "If you have a no trump shape and 12-14 high card points, open One No Trump".

While testing my rule book I noticed that I had, in the test, forgotten to define some facts that the RuleBook needed to evaluate the hand. For example, maybe I f

[2021-05-26 15:01] Clayton7510 commented on #204
That's an interesting question. While there is no specific mechanism for checking that required facts exist, there are a few tools at your disposal with RuleBook. I also think that it might be a nice feature addition to add targeted functionality to specify required facts.

In the meantime, you could certainly have a precondition rule that does nothing but check facts and either return no result o

[2021-05-26 15:13] Clayton7510 commented on #203
If you are using something like Spring Boot to accept the HTTP request then you can just create your RuleBook as a Bean and Autowire it into your Controller.

Check out this example: [https://github.com/deliveredtechnologies/rulebook/tree/develop/rulebook-examples/helloworld-spring-web](https://github.com/deliveredtechnologies/rulebook/tree/develop/rulebook-examples/helloworld-spring-web)

[2021-05-29 12:12] AdrianChallinorOsiris opened #205 "Rulebook in Spring Boot - stop execution"
We have a rukle book in Spring Boot. We have only just started with the first 10 of when will probably be over 100 rules.  It's already getting good feedback and allowed us to announce a new product feature. Se we like it!

One question that has come up from our designers. Is it possible to have a rule executed which if it passes the @When stage, performs its actions and the stops?

So, if this, t

[2021-06-11 15:50] AlDante commented on #204
I like the precondition rule idea, thanks. How do I continue rule processing if the preconditions are satisfied? I thought rule processing stopped when the first matching rule fires.

[2021-06-22 22:41] ktalebian commented on #203
@Clayton7510 I'm not sure how this applies to my original question. The rule itself needs to be async. In the link you provided, the `when` condition is still sync https://github.com/deliveredtechnologies/rulebook/blob/develop/rulebook-examples/helloworld-spring-web/src/main/java/com/example/rulebook/helloworld/HelloSpringRule.java

Basically, instead of

[code]

I need

[code]

[2021-07-28 12:48] yvesfso opened #206 "Project status"
Hello!

I saw that the last commit was made on October 19, 2020.

Is the project still being monitored for bug fixes, new features, etc?

I'm asking because I'm evaluating some validation tools and I really like what the rulebook provides, and I'm worried that I'll get back to you if I run into a problem or question in some situations.

Thanks

[2021-08-31 12:31] ghost opened #207 "Lambdas stack error"
While stress testing Rulebook I found that the lambdas in GoldenRule.java line 176 hits StackOverFlowError.
This is observed with Rulebook core 0.12.
Using Fluent API
When number of objects of Rule created with RuleBuilder.create() exceeds 3000.

[2021-09-10 09:39] chandmanish opened #208 "RuleBuilder doesn't create a Rule with action type RuleChainActionType.ERROR_ON_FAILURE"
I was expecting by using `RuleBuilder.create(GoldenRule.class, RuleChainActionType.ERROR_ON_FAILURE)` I an create a Rule which will throw RuleException in case of a error while executing the rule. But it didn't work and when I investigate it in detail I found that RuleBuilder will never create a Rule with RuleChainActionType.ERROR_ON_FAILURE action.

In my understanding the private method `private

[2021-09-22 15:13] mchevvuri commented on #208
I'm facing the exact same issue, it doesn't matter whether I'm setting this in rulebookbuiler or rulebuilder. GolenRule class has a logic where it checks if action type is "STOP_ONFAILURE" and then constructs it. I guess it shouldn't have that "IF" conditon and it should just proceed with creating construction using action type.

[2021-10-18 05:12] anuragpathak21 commented on #206
It doesn't look like there is any new release coming

[2021-10-20 18:00] Clayton7510 commented on #206
I definitely do miss working on RuleBook. But it isn't my top priority at the moment - a new project that will 🤞 provide stable income for my fam has claimed that mantle.

So, if anyone is interested in becoming a maintainer, let me know.

I will probably still contribute. But as I said, it won't be my primary focus.

[2021-11-17 12:40] egorkarimov commented on #163
There is a bug. Solved by extending GoldenRule and redefining default constructor:
[code]
Then use it instead of GoldenRule class in the builder:
[code]

[2021-12-17 18:37] rocnwall commented on #202
I have the same problem and I couldn't fix it.
Did you find a way to solve it ?

[2022-03-08 02:15] pecaetano opened #209 "RuleBookRunner4PojoClasses does not run rules according to the order property"
When using RuleBookRunner4PojoClasses class, the rules  are not executed in the order defined by order property, in Rule interface
I found this issue recently, and  I have an easy fix for.
Thanks

[2022-06-13 09:14] kzander91 commented on #208
Just encountered the same issue. Looks like `ERROR_ON_FAILURE` currently only works when defining Rules with annotated POJOs using `@Rule(ruleChainAction = RuleChainActionType.ERROR_ON_FAILURE)`.
Quite a deal-breaker for me. I'm currently working around this by post-processing all my rules and setting the private `_actionType` field using reflection.

I'm using Spring and all my rules are beans, s